
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    H3Y2 - RSA - Add a comment
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
    
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}   

{% block REDEFINIR_MAIN %}
    
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert-success">
    {{ flashMessage }}
</div>
{% endfor %}    

<a class="lienRSOffer" href="{{path('rsa_yasmine_detailedSaleOffer',{'id':idOffer})}}">  

<div class="alert-success">Back to the detailed offer
    <img id="back-img" src="{{ asset ('etudiants/yasmine/images/back.png') }}" alt="pdf-file" height="45"/>
</div>
</a>

   <form method="POST">
    <fieldset> 
  <fieldset> 
        <legend><h2 id="add-comm"> Leave a comment </h2></legend> <br/>
     <div id="contour-add-comm">
        <span id="required-fields">*</span> <span id="req-comm"> Required fields</span>
        <br/><br/>
        <table>        
           <tr> 
                <td> <label>Date </label> </td> 
                <td> <label id="date-comm">  {{ "now"|date("d/m/Y") }}  </label> </td> 
            </tr>
           
            <tr>
                <td> <label>Title<span id="required-fields">*</span> </label> </td>
                <td> <input id="inputs-title" type="text" name="title" placeholder="My title" required/> </td> 
            </tr>
            
             <tr>
                <td> <label>Content<span id="required-fields">*</span> </label> </td>
                <td> <textarea id="inputs-content" type="text" name="body" placeholder="My content" required/></textarea> </td>  
            </tr>
       
            <tr> 
                <td> <input id="bouton-comm" type="submit" value="Leave a comment"/> </td>
            </tr>
      
        </table>
     </div>
    </fieldset>
</form>

{% endblock %}