<meta charset='utf-8'>
<div style="padding:3px; border:2px dotted #a5a5a5; background-color: aliceblue;">

 <h1 style="padding:3px; color: slategrey;">
     H3Y2 - Real Estate agency
 </h1>
 </div>   
    
<br/>
<div style="padding:7px; border:2px dotted #a5a5a5; background-color: #F8F8FF;">
    
{% for roDtl in roDetails %}
<h1 style="color: #b3d4fc;">{{ roDtl.title }}</h1>
    <br/>
    <span style="color: #999">
Governorate : {{ roDtl.governorate }}<br>
Delegation : {{ roDtl.delegation }}<br><br/>

Body : {{ roDtl.body }}<br><br/>

Dealtype : {{ roDtl.dealtype }}<br>
Sale price : {{ roDtl.saleprice }}<br>
Available from : {{ roDtl.availablefrom|date('Y-m-d') }}<br>
State : {{ roDtl.state }}<br>
{% if roDtl.isgreen == false %}{% set gHouse = 'No' %}{% else %}{% set gHouse = 'Yes' %}{% endif %}
Green House : {{ gHouse }}
<br><br/>

GPS coordinates : {{ roDtl.coordgps }}<br>
Number of positive votes : {{ roDtl.nbvotesplus }}<br>
Number of negative votes : {{ roDtl.nbvotesmoins }}<br><br/>

Realtor first name : {{ roDtl.idofrealtor.firstname }}<br>
Realtor last name : {{ roDtl.idofrealtor.lastname }}<br>
</span>
<br/><br/>

{% endfor %}
</div>
