
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
     H3Y2 - RSA - My favorite sale offers
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %} 

{% block REDEFINIR_MAIN %}
   
{#{% set idC = '8' %}
Client N° {{ idC }}#}

<br/>
{% set idO = '0' %}
{% for favSO in FavSO %} {% set idO = favSO.idofoffer %} {% endfor %}
 <a class="lienRSOffer" href="{{path("rsa_yasmine_searchMYFavoriteSaleOffer",{'idOffer':idO,'idC':idClient})}}"> 
   <div id="search-fav"> 
         Search for all my favorites
         <img id="fav-rech-proposition" src="{{ asset ('etudiants/yasmine/images/loupe.png') }}" height="50" alt="recherche"/>
     </div>
 </a> 
           
<br/>

 <div id="ampoule" >
     <a  href="#" id="lienRSOfferFAV-search">
<img id="redirect-details" src="{{ asset ('etudiants/yasmine/images/ampoule.png') }}" height="50" alt="ampoule"/>
 <span id="info_details_fav_bulle">Click on the title of one of your favorite offers to see the details of that offer</span> 
     </a>
 </div>
 <br/><br/>

<h2 id="add-comm">My favorites</h2>

{% for favSO in FavSO %}
    
    <table>
        <tr>
            <td>
     <fieldset id="cadreListeRentOffers">
<a class="lienRSOffer" href="{{path('rsa_yasmine_detailedSaleOffer',{'id':favSO.idofoffer.id})}}">
         <span id="titleETcomm"> {{favSO.bookmarktitle}}</span> <br/><br/>
</a>    
        <a class="lienRSOfferModifDeleteListComm" href="{{path("rsa_yasmine_modifyFavoritesSaleOffer",{'id':favSO.id}) }}"> Modify </a>
        <br/>
        <a class="lienRSOfferModifDeleteListComm" href="{{path("rsa_yasmine_deleteFavoritesSaleOffer",{'id':favSO.id}) }}"> Delete </a>

    </fieldset>
        
            </td>
            
            <td>
                 <fieldset id="cadreListeRentOffersFAV">

                    <span class="dealtype" > <b>House Type : </b> {{favSO.idofoffer.dealtype }}</span><br>
                            <span class="price" >  <b>Sale Price : </b> {{favSO.idofoffer.salePrice }}  DT </span>
                            
                            <br>
                            <span class="governorate" >   <b>Governorate</b> : {{favSO.idofoffer.governorate }}</span>
                            <br>
                            <span class="delegation" >   <b>Delegation</b> : {{favSO.idofoffer.delegation }}</span>
                            <br>
                           
                            <img id="image-fav" src="{{favSO.idofoffer.houseImageUrl}}" align="middle" alt="Offer main image" align="center" width="50%"/>
                           
                           <div id="emplacement-votes" >
                           <span> {{favSO.idofoffer.nbVotesPlus }}
                                <img src="{{ asset ('etudiants/yasmine/images/like.png') }}" height="30px"/>
                            </span>
                            <span id="nbVotesMoinsFav" > {{favSO.idofoffer.nbVotesMoins }}
                                <img src="{{ asset ('etudiants/yasmine/images/dislike.png') }}" height="30px"/>
                            </span>
                           </div>
                 </fieldset>
            </td>
        </tr>
  </table>
<br/>
   
{% endfor%}

{% endblock %}