
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
     H3Y2 - RSA - My comments on sale offers
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
{% endblock %}

{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}  

{% block REDEFINIR_MAIN %}
   
{#{% set idC = '8' %}
Client N° {{ idC }}#}

{% set titleOffer = "" %}
{% for CommRO in CommentsRO %} {% set titleOffer = CommRO.idofoffer.title %} {% endfor %}
<h2 id="add-comm"> My comments on {{ titleOffer }}</h2>

<br/>

{% for CommRO in CommentsRO %}

 <fieldset id="cadreListeRentOffers">
 
     <div id="titleETcomm">
        {{CommRO.title}}
        <br/>
        {{CommRO.body}}
<br/>
        {{CommRO.date|date('F jS Y')}}
        </div>

    <br/>

        <a class="lienRSOfferModifDeleteListComm" href="{{path("rsa_yasmine_modifyCommentsSaleOffer",{'id':CommRO.id}) }}"> Modify </a>
        <br/>
        <a class="lienRSOfferModifDeleteListComm" href="{{path("rsa_yasmine_deleteCommentsSaleOffer",{'id':CommRO.id}) }}"> Delete </a>

    </fieldset>
   <br/>
{% endfor%}

{% endblock %}