
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
     H3Y2 - RSA - Sale offers
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}  

{% block REDEFINIR_MAIN %}

{#{% set idC = '8' %}
Client N° {{ idC }}#}
<br/><br/>

{# DEBUT PAGINATION #}

{% set idO = '0' %}

{% for ro in pagination %} {% set idO = ro.id %} {% endfor %}   

 <a class="lienRSOffer" href="{{path('rsa_yasmine_listMYFavoriteSaleOffer',{'idC':idClient})}}"> <div id="manage-fav">  <img src="{{ asset ('etudiants/yasmine/images/favoris.png') }}" alt="pdf-file" height="45"/> See, search, modify and delete my favorite offers </div> </a> 

{# total items count #}
<div class="count" id="total-offers">
    Total :  <b>{{ pagination.getTotalItemCount }}</b> Sale Offers 
</div>

<br/>
<span id="infoPDF">Thank you for voting ! </span>
  
    <h1 id="titre-all-ro"> All sale offers </h1>
        
{% for el in pagination %}
    
    <div class="boxedarea rent-offer-area"> 
   
                            {% if (el.isGreen)  %}
                                <div class="isgreen-notification" >
                                    <img src="{{ asset ('etudiants/houssem/img/eco-house-2.png') }}" height="160" alt="This house is ecological !"/>
                                </div>
                            {% endif %}
<a class="lienRSOffer" href="{{path('rsa_yasmine_detailedSaleOffer',{'id':el.id})}}">   
    <span class="title" align="center" > <h1>{{el.title }}</h1>       
            <div id="see-details">See details...</div>
    </span> 
        </a>
            <br/> 
                            <span class="dealtype" > <b>House Type : </b> {{el.dealtype }}</span><br>
                            <span class="price" >  <b>Sale Price : </b> {{el.salePrice }}  DT </span>
                            <span class="governorate" >   <b>Governorate</b> : {{el.governorate }}</span>
                            <br>
                            <span class="delegation" >   <b>Delegation</b> : {{el.delegation }}</span>
                            <br>
                            <div class="body" >
                                <blockquote>
                                    <b>Offer Description : </b> {{el.body }}
                                </blockquote>
                            </div>
                            <span class="availableFrom" >   <b>Available From : </b> {{el.availableFrom|date("m/d/Y") }}</span>
                            <br>
                            <div class="votes-notification" align="right" height="50px">
                                <span class="nbVotesPlus" > {{el.nbVotesPlus }}</span>
                                <img src="{{ asset ('etudiants/houssem/img/like-1.png') }}" height="30px"/>
                                <span class="nbVotesMoins" > {{el.nbVotesMoins }}</span>
                                <img src="{{ asset ('etudiants/houssem/img/dislike-1.png') }}" height="30px"/>
                            </div>
                            <div class="main-image-area" align="center">
                                <img class="main-image" src="{{el.houseImageUrl}}" align="middle" alt="Offer main image" align="center" width="50%"/>
                            </div>
                           
                            <div id="bouttons"> {{ socialButtons() }} </div>
                        </div>


{% endfor %}


{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>


{% endblock %}