
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    H3Y2 - RSA - Modify a favorite
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
    
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %} 

{% block REDEFINIR_MAIN %}
  
 
{% for favSO in FavSO %}

   <form method="POST">
    <fieldset> 
        <legend><h2 id="add-comm"> Modify a favorite</h2></legend><br/>
         <div id="contour-modif-fav">
        <span id="required-fields">*</span> <span id="req-comm"> Required fields</span>
        <br/><br/>
        <table>        

            <tr>
                <td> <label>Title </label><span id="required-fields">*</span> </td>
                <td> <input type="text" name="title" id="title-fav-modif" placeholder="My title" value="{{favSO.bookmarktitle}}" required/> 
                </td>
            </tr>
         
            <tr> 
                <td> <input id="bouton-modif-fav" type="submit" value="Modify a favorite"/> </td>
            </tr>
        </table>
         </div>
    </fieldset>
</form>

{% endfor %}                
                
{% endblock %}