{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
     H3Y2 - RSA - Pie chart sale offer
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
    <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
    <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
    <script type="text/javascript">
    {{ chart(chart) }}
    </script>
      
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}    



{% block REDEFINIR_MAIN %}
    
<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

{% endblock %}