
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    H3Y2 - RSA - Search for a comment
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
    
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    
    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}    

{# POUR RECHERCHER DANS TOUS LES COMMENTAIRES, pas que MY comme écrit dans nom fichier!!! #}


{% block REDEFINIR_MAIN %}
    
{#{% set idC = '8' %}
Client N° {{ idC }}#}

     <h2 id="add-comm"> Search for comments </h2> 

 <form method="POST" action=""> 
     <input id="input-recherche" type="text" name="searchTitle" placeholder="Title of the comment" required/> 
     <button type="submit" name="rechercher" value="Search"> 
     <img id="bouton-rech" src="{{ asset ('etudiants/yasmine/images/loupe.png') }}">
     </button>
 </form>

<br/>

{% for CommRO in CommentsRO %}

 <div id="contour-see-comm">
        <img id="client-image" src="{{CommRO.idofclient.userimageurl}}"  alt="client_image" align="center" width="70" height="70"/>
        <div id="client-np"> {{CommRO.idofclient.firstname}} {{CommRO.idofclient.lastname}} </div>
        <br/>
        
        <div id="titleETcomm">
        {{CommRO.title}}
        <br/>
        {{CommRO.body}}
<br/><br/>
        {{CommRO.date|date('F jS Y')}}
        </div>
        
    </div>

    
   {% endfor %} 
</table>
                
{% endblock %}

