{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Realtor Subscription Request {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{ path ('rsa_houssem_welcomeRent') }}"> Rent Offer   | </a></li>
        <li><a href="{{ path ('rsa_houssem_welcomeSale') }}"> Sale Offer   | </a></li>
        <li><a href="{{ path ('rsa_houssem_Realtor_Subscription_Request') }}">Request Realtor Profile</a></li>
    </ul>
{% endblock %}

{% block REDEFINIR_LOGOUT %}    
    <li><a href="{{ path ('rsa_yassine_account_auth')}}#login"> | Log In</a></li>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/houssem/css/houssem_realtor_subscription.css') }}">   
{% endblock %}

{% block REDEFINIR_MAIN %}
    <div id="form-realtor-wrapper" class="boxedarea">
        {{form(form)}}
    </div>
{% endblock %}
