{% extends "::base.html.twig" %}


{# =================== Partie DESCRIPTION/SEO =================== #}
        {% block REDEFINIR_DESCRIPTION %}
        <meta name="description" content="H3Y2 Real Estate Agency Welcome !">
        {% endblock %}
        <meta name="keywords" content="
               rent, sell, offer, house, wherehouse, apartment, lot,
              real estate, real estate agent, search real estate agent,
              search real estate, real estate in, real estate for">
{# =================== END Partie DESCRIPTION/SEO =================== #}

{% block REDEFINIR_TITLE %}
H3Y2 Real Estate Agency Welcome
{% endblock %}
{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/houssem/css/houssem.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    <script src="{{ asset('etudiants/houssem/js/houssem.js') }}"></script>
{% endblock %}

{% block REDEFINIR_BIGHEADING %}
{# a gauche en haut on peux ecrire  #}
{% endblock %}



{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="#">Item Personnalise 1</a></li>
        <li><a href="#">Item Personnalise 2</a></li>
        <li><a href="#">Item Personnalise 3</a></li>
    </ul>
{% endblock %}    



{% block REDEFINIR_MAIN %}

{% endblock %}