{% extends "::base.html.twig" %}

{% block REDEFINIR_DESCRIPTION %}
    <meta name="description" content="H3Y2 Real Estate Agency Welcome !">

{% endblock %}

{% block REDEFINIR_TITLE %} Welcome ! {% endblock %}



{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{ path ('rsa_houssem_welcomeRent') }}"> Rent Offer </a></li>

        <li><a href="{{ path ('rsa_houssem_welcomeSale') }}"> Sale Offer </a></li>

    </ul>
{% endblock %}   


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/houssem/css/houssem.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
    <script src="{{ asset('etudiants/houssem/js/houssem.js') }}"></script>
{% endblock %}


{% block REDEFINIR_MAIN %} 
    
    <div>
        <table id="search" class="search" align="left" >
            <tr><td>
          <a href="{{ path ('rsa_houssem_RentOfferListeSearch') }}"> test </a>
          
            </td> </tr>
        </table>    
        
    </div>
  
    <div>
     <table id="listeoffre" class="listeoffre" align="right" >

{% if ( RentOffer )%}
        {% for el in RentOffer %}
            <tr><td>
                    
{#============================================================================================ #}
                     
                     {# ces truc  sont  en commun   #}
                     
                      
                     <span class="title" > {{el.title }}</span>
                      {% if (el.isGreen)  %}
                    <span class="isgreen" >Green</span>
                        {%  else %}
                    <span class="isnotgreen" >Green</span>
                    {% endif %}
                    <br>                    
                     {# ces truc  sont  displayable  #}
                     <span class="dealtype" > Deal type : {{el.dealtype }}</span><br>
                     <span class="price" >  Rent Price : {{el.rentPrice }}  DT </span>
                     <span class="depositValue" > with deposite value  : {{el.depositValue }} </span>
                     <span class="availableFrom" >   Available From : {{el.availableFrom|date("m/d/Y") }}</span>
                     <span class="governorate" >   Governorate : {{el.governorate }}</span>
                     
                     <br><br>
                     
                     
                     <div class="body" > {{el.body }}</div><br>
                    
                    <span class="state" > This Offer is : {{el.state }}</span>
                    <span class="nbVotesPlus" > {{el.nbVotesPlus }}</span>
                    <img src="{{ asset ('etudiants/houssem/img/like.jpg') }}" alt="logo"/>
                    <span class="nbVotesMoins" > {{el.nbVotesMoins }}</span>
                    <img src="{{ asset ('etudiants/houssem/img/dislike.png') }}" alt="logo"/>
                    


                    <br><br><hr>
                    

{#============================================================================================ }
             
                    {# ces truc  sont  displayable dans les detail  #}
                    {# }


                    <span class="title" > {{el.coordgps }}</span><br>
                    <span class="title" > {{el.houseImageUrl }}</span><br>
                    
                    
{#============================================================================================ }
             
                    {# ces truc ne sont pas displayable  #}
                    {# }
                    <span class="id" > {{el.id}}</span><br>
                    <span class="status" > {{el.status }}</span><br>                  
                    <span class="delegation" > {{el.delegation}}</span><br>
                    <span class="Idofrealtor" >{{el.getIdofrealtor().getId()}}</span><br>
                    
{ ============================================================================================ #}                    
                    
            </td> </tr>

        {% endfor %}  
{% endif %}




{% if ( SaleOffer )%}
        {% for el in SaleOffer %}
            <tr><td>

{#============================================================================================ #}
                        {# ces truc  sont  en commun   #}      
                        
                     <span class="title" > {{el.title }}</span>
                      {% if (el.isGreen)  %}
                    <span class="isgreen" >Green</span>
                        {%  else %}
                    <span class="isnotgreen" >Green</span>
                    {% endif %}
                    <br>                    
                     {# ces truc  sont  displayable  #}
                     <span class="dealtype" > Deal type : {{el.dealtype }}</span><br>
                     <span class="price" >  Rent Price : {{el.saleprice }}  DT </span>
                    
                     <span class="availableFrom" >   Available From : {{el.availableFrom|date("m/d/Y") }}</span>
                     <span class="governorate" >   Governorate : {{el.governorate }}</span>
                     
                     <br><br>
                     
                     
                     <div class="body" > {{el.body }}</div><br>
                    
                    <span class="state" > This Offer is : {{el.state }}</span>
                    <span class="nbVotesPlus" > {{el.nbVotesPlus }}</span>
                    <img src="{{ asset ('etudiants/houssem/img/like.jpg') }}" alt="logo"/>
                    <span class="nbVotesMoins" > {{el.nbVotesMoins }}</span>
                    <img src="{{ asset ('etudiants/houssem/img/dislike.png') }}" alt="logo"/>
                    


{#============================================================================================ }
             
                    {# ces truc  sont  displayable dans les detail  #}
{# }

                    <span class="title" > {{el.coordgps }}</span><br>
                    <span class="title" > {{el.houseImageUrl }}</span><br>
                    
                    
{#============================================================================================ }
             
                    {# ces truc ne sont pas displayable  #}
                    {# }
                    <span class="id" > {{el.id}}</span><br>
                    <span class="status" > {{el.status }}</span><br>                  
                    <span class="delegation" > {{el.delegation}}</span><br>
                    <span class="Idofrealtor" >{{el.getIdofrealtor().getId()}}</span><br>
                    
{ ============================================================================================ #}                    
                    
            </td> </tr>

        {% endfor %}  
{% endif %}

    </table>
</div>
{% endblock %}
