{# Ce fichier doit se trouver dans : Source Files >>> App >>> Ressources >>> views >>> base.html.twig #}
{# Mettre les fichiers css, img et js sous Source Files >>> Web >>> Public >>> {css, img, js} #}

{# 
Pour comprendre Twig / les template dans Symfony, merci de lire le lien ci-dessous : 
http://symfony.com/fr/doc/current/book/templating.html
==> Le template parent est identifié grâce à une chaîne de caractères particulière (::base.html.twig) qui indique que ce template se trouve dans le dossier app/Resources/views du projet. Cette convention de nommage est complètement expliquée dans Nommage de template et Emplacements.
#}


<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {# =================== Partie TITLE =================== #}
        <title>{% block REDEFINIR_TITLE %}H3Y2 Real Estate Agency{% endblock %}</title>

        {# =================== Partie DESCRIPTION/SEO =================== #}
        {% block REDEFINIR_DESCRIPTION %}<meta name="description" content="H3Y2 Real Estate Agency Welcome !">{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# =================== Partie CSS =================== #}
        <link rel="stylesheet" href="{{ asset('public/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/template-by-yassine.css') }}">
    {% block AJOUTER_CSS %}{% endblock %}

    {# =================== Partie JS =================== #}
    <script src="{{ asset('public/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ asset('public/js/vendor/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ asset('public/js/plugins.js') }}"></script>
    <script src="{{ asset('public/js/template-by-yassine.js') }}"></script>
{% block AJOUTER_JAVASCRIPT %}{% endblock %}

</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="clearfix">
        <div class="header-banner">
            <a href="#" class="logo"></a>
            {# =================== Partie BIG HEADING =================== #}
            {% block REDEFINIR_BIGHEADING %}
                {# <h1>H<sub>3</sub>Y<sub>2</sub> Real Estate Agency</h1> #}
            {% endblock %}

        </div>

        <nav id="menu-fixe">
            <ul>
                <li><a href="{{ path ('rsa_houssem_welcomeRent') }}">See Offers | </a></li>
                <li><a href="{{ path ('rsa_yassine_account_accountArea') }}#overview">Account Area | </a></li>
                <li><a href="{{ path ('rsa_yassine_account_contactAboutUs') }}">About H<sub>3</sub>Y<sub>2</sub> & Contact</a></li>
                    {% block REDEFINIR_LOGOUT %}    
                        {% if app.session.get('connectedUserId') %}
                            <li><a href="{{ path ('rsa_yassine_account_logout') }}"> | Log Out</a></li>
                        {% else %}
                            <li><a href="{{ path ('rsa_yassine_account_accountArea') }}#login"> | Log In</a></li>
                        {% endif %}
                    {% endblock %}
            </ul>
        </nav>

        <div id="menu-variable">
            {% block REDEFINIR_MENU_VARIABLE %}
                <ul>
                    <li><a href="#">Item Var 1</a></li>
                    <li><a href="#">Item Var 2</a></li>
                    <li><a href="#">Item Var 3</a></li>
                    <li><a href="#">Item Var 4</a></li>
                    <li><a href="#">Item Var 5</a></li>
                </ul>
            {% endblock %}
        </div>

    </header>

    <main class="clearfix">
        <div id ="div-a-redefinir">
            {% block REDEFINIR_MAIN %}
                <h1>Titre H1 Variable</h1>
                <p>Contenu variabl contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable.</p>
                <div>
                    <h2>Titre H2 Variable</h2>
                    <p>Contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable.</p>
                </div>
                <div>
                    <h2>Titre H2 Variable</h2>
                    <p>Contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable.</p>
                </div>
                <div>
                    <h2>Titre H2 Variable</h2>
                    <p>Contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable.</p>
                </div>
                <div>
                    <h2>Titre H2 Variable</h2>
                    <p>Contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable.</p>
                </div>
                <div>
                    <h2>Titre H2 Variable</h2>
                    <p>Contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable contenu variable.</p>
                </div>
            </div>
            <div id="main-image-div">
            {% endblock %}
        </div>
    </main>

    <footer class="clearfix footer-banner">
        <div id="footer-fixe">
            <ul>
                <li><a href="#">Team & Contact | </a></li>
                <li><a href="#">H<sub>3</sub>Y<sub>2</sub> on Facebook | </a></li>
                <li><a href="#">H<sub>3</sub>Y<sub>2</sub> on Twitter | </a></li>
                <li><a href="#">ESPRIT ~ SIGMA</a></li>
            </ul>
        </div>
    </footer>
{% block AJOUTER_JAVASCRIPT_LAST_TAG %}{% endblock %}
</body>
</html>