
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    {# ici, vous mettez le titre de la page #}
     H3Y2 - RSA - Sale offers
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajer.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hajer/js/hajer.js') }}"></script> 
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_hajer_realtor_hom')}}">Homepage | </a></li>
        <li><a href="{{path('hajer_listRentOffersByRealtor')}}">My rent offers | </a></li>
        <li><a href="{{path('hajer_listSaleOffersByRealtor')}}">My sale offers | </a></li>
        <li><a href="{{path('hajer_searchMyRentOfferByTitle')}}">Search my offers </a></li>
        
    </ul>
{% endblock %}     

{% block REDEFINIR_MAIN %}


    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success">
            <bold>  {{ flashMessage }} </bold>
        </div>

    {% endfor %}

    
     <form name="myform" id="form_recherche" method="POST" class="basic-grey"   >

    <fieldset>
        

            <h1>Add a sale offer
                <span>Please fill your information to add an offer.</span>
            </h1>
       
            <table>

                <tr> <td> <label> State </label>  <span class="ob"> * </span>    </td> <td> 
                        <select name="state" id="state" >
                            <option value="Available" >Available</option>
                            <option value="Closed">Closed</option>
                            <option value="Sold">Sold</option>
                            <option value="Deleted">Deleted</option>
                        </select>
                        <br> </td> </tr>



                <tr> <td> <label> Date </label> <span class="ob"> * </span>  </td> <td> <input type="date" id="date" name="date" min="{{"now"|date("Y-m-d")}}" required/> <br> </td> </tr>
                <tr> <td> <div id="cor1"> </div> </td> </tr>
                <tr> <td> <label> Title </label>  <span class="ob"> * </span>  </td> <td> <input type="text" name="title" placeholder="Title" required/> <br> </td> </tr>

                <tr> <td> <label> Deal type </label>  <span class="ob"> * </span>   </td> <td> 
                        <select name="deal">
                            <option value="Apartment">Apartment</option>
                            <option value="Warehouse">Warehouse</option>
                            <option value="Empty Lot">Empty Lot</option>
                            <option value="Villa">Villa</option>
                        </select>
                        <br> </td> </tr>

                <tr> <td> <label> Governorate </label>  <span class="ob"> * </span>   </td> <td> 
                        <select name="gov"  id="gov" onchange="populate(this.id, 'del')" >
                            <option value="Ariana">Ariana</option>
                            <option value="Beja">Beja</option>
                            <option value="Ben Arous">Ben Arous</option>
                            <option value="Bizerte">Bizerte</option>
                            <option value="Gabes">Gabes</option>
                            <option value="Gafsa">Gafsa</option>
                            <option value="Jendouba">Jendouba</option>
                            <option value="Kairouan">Kairouan</option>
                            <option value="Kasserine">Kasserine</option>
                            <option value="Kebili">Kebili</option>
                            <option value="Kef">Kef</option>
                            <option value="Mahdia">Mahdia</option>
                            <option value="Manouba">Manouba</option>
                            <option value="Medenine">Medenine</option>
                            <option value="Monastir">Monastir</option>
                            <option value="Nabeul">Nabeul</option>
                            <option value="Sfax">Sfax</option>
                            <option value="Sidi Bouzid">Sidi Bouzid</option>
                            <option value="Siliana">Siliana</option>
                            <option value="Sousse">Sousse</option>
                            <option value="Tataouine">Tataouine</option>
                            <option value="Tozeur">Tozeur</option>
                            <option value="Tunis">Tunis</option>
                            <option value="Zaghouan">Zaghouan</option>
                        </select>
                        <br> </td> </tr>

                <tr> <td> <label> Delegation </label>   <span class="ob"> * </span>  </td> <td> 
                        <select name="del" id="del">
                            <option value="La Soukra">La Soukra</option>
                            <option value="Raoued">Raoued</option>
                            <option value="Mnihla">Mnihla</option>
                        </select>
                        <br> </td> </tr>

                <tr> <td> <label> GPS address </label> <span class="ob"> * </span>  </td> <td> <input type="text" name="gps" placeholder="GPS Address" required/> <br> </td> </tr>

                <tr> <td> <label> Is green </label>  <span class="ob"> * </span>  </td> <td> 
                        <input type="radio" name="green" value="yes" id="yes" /> yes
                        <input type="radio" name="green" value="no" id="no" checked="checked" /> no
                        <br> </td> </tr>

                <tr> <td> <label> Description </label>  <span class="ob"> * </span>  </td> <td> 
                        <textarea name="descrip" rows="8" cols="45" placeholder="Description.."  required></textarea>
                        <br> </td> </tr>           

                <tr> <td> <label> Price </label> <span class="ob"> * </span>  </td> <td> <input type="number" step="0.01" name="price" placeholder=" exp: 455.5" onclick="this.value = ''" required/> <br> </td> </tr>
            
                <tr> <td> <label> Image </label>  <span class="ob"> * </span>   </td> <td> <input type="text" id="imgUrl" name="imgUrl" placeholder="http://i.imgur.com/HRpFdNF.jpg" onblur="
                        if (this.value != '') {

                            if (document.getElementById('imgUrl').value.indexOf('i.imgur.com') == -1) {
                                // alert('incorrect link ! \n\nPlease enter a correct link !');
                                document.getElementById('imgUrl').value = '';

                                this.focus;
                                $(this).css('border-color', 'red');

                                document.getElementById('cor').innerHTML = 'Please enter a correct link !';
                                this.focus;
                            } else {


                                $(this).css('border-color', '#DADADA');

                                document.getElementById('cor').innerHTML = '';

                            }
                        }" required/> <br> </td> </tr>


                <tr> <td> <div id="cor"> </div> </td> </tr>
              
                <tr> <td> <div class="marge"> Fields marked <span class="ob"> * </span> are required. </div>  </td> <br> </tr>

                <tr> <td> <input type="submit" class="button"  value="Valider" /> </td>
                    <td> <input type="reset" class="button" value="Annuler" /> </td> </tr>

            </table>
        </fieldset>


    </form>


{% endblock %}