
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    {# ici, vous mettez le titre de la page #}
     H3Y2 - RSA - Sale offers
{% endblock %}


{% block AJOUTER_CSS %}

     <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajer1.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    
<script src="{{ asset('etudiants/hajer/js/bootstrap.js') }}" type="text/javascript"></script>

{% endblock %}




{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_hajer_realtor_hom')}}">Homepage | </a></li>
        <li><a href="{{path('hajer_listRentOffersByRealtor')}}">My rent offers | </a></li>
        <li><a href="{{path('hajer_listSaleOffersByRealtor')}}">My sale offers | </a></li>
        <li><a href="{{path('hajer_searchMyRentOfferByTitle')}}">Search my offers </a></li>
        
    </ul>
{% endblock %}     



{% block REDEFINIR_MAIN %}
    
    <h1>See all sale offers</h1>
 {% for el in modeles %}
     <div class="boxedarea rent-offer-area">
                            {% if (el.isGreen)  %}
                                <div class="isgreen-notification" >
                                    <img src="{{ asset ('etudiants/houssem/img/eco-house-2.png') }}" height="160" alt="This house is ecological !"/>
                                </div>
                            {% endif %}
                            
                            <a class="lienRSOffer" href="{{path('rsa_yasmine_detailedRentOffer',{'id':el.id})}}">  
    <span class="title" align="center" > <h1>{{el.title }}</h1>       
            <div id="see-details">See details...</div>
    </span> 
        </a>
            <br/> 
                            
                       
                            <span class="dealtype" > <b>House Type : </b> {{el.dealtype }}</span><br>
                            <span class="price" >  <b>Sale Price : </b> {{el.salePrice }}  DT </span>
                          
                            <br>
                            <span class="governorate" >   <b>Governorate</b> : {{el.governorate }}</span>
                            <br>
                            <span class="delegation" >   <b>Delegation</b> : {{el.delegation }}</span>
                            <br>
                            <div class="body" >
                                <blockquote>
                                    <b>Offer Description : </b> {{el.body }}
                                </blockquote>
                            </div>
                            <span class="availableFrom" >   <b>Available From : </b> {{el.availableFrom|date("m/d/Y") }}</span>
                            <br>
                            
                            <div class="votes-notification" align="right" height="50px">
                                <span class="nbVotesPlus" > {{el.nbVotesPlus }}</span>
                                <img src="{{ asset ('etudiants/houssem/img/like-1.png') }}" height="30px"/>
                                <span class="nbVotesMoins" > {{el.nbVotesMoins }}</span>
                                <img src="{{ asset ('etudiants/houssem/img/dislike-1.png') }}" height="30px"/>
                            </div>
                            <div class="main-image-area" align="center">
                                <img class="main-image" src="{{el.houseImageUrl}}" align="middle" alt="Offer main image" align="center" width="50%"/>
                            </div>
                           
                            <div id="bouttons"> {{ socialButtons() }} </div>
                        </div>
    
    
       {% endfor%}
 {# commentaire  #}  
                   
{% endblock %}

