{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Contact the Team | About H3Y2 {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yassine/css/contact-style.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
{% endblock %}


{% block REDEFINIR_MAIN %}
    
    <h1 align="center"> H<sub>3</sub>Y<sub>2</sub> ~ Real Estate Agency</h1>
    
    <br>
    
        <p align="center"><a href="http://sabbegh.hebergratuit.net/dev/contact/">Contact the administartors</a></p>
    
    <br>
    
    <div class="boxedarea" align="center">
        <p> <b>Houssem Sabbegh</b> </p>
        <img src="http://i.imgur.com/m9SV7J2.jpg?1" height="200px">
    </div>

    <br>
    
    <div class="boxedarea" align="center">
        <p> <b>Tarek Yassine Latiri</b> </p>
        <img src="http://i.imgur.com/eO1BOFQ.jpg" height="200px">
    </div>

    <br>
    
    <div class="boxedarea" align="center">
        <p> <b>Hayfa Negra</b> </p>
        <img src=http://i.imgur.com/Yoa8806.jpg?1"" height="200px">
    </div>

    <br>
    
    <div class="boxedarea" align="center">
        <p> <b>Yasmine Bhouri</b> </p>
        <p> ... image coming soon ... <p>
    </div>

    <br>
    
    <div class="boxedarea" align="center">
        <p> <b>Hajer Nouri</b> </p>
        <p> ... image coming soon ... <p>
    </div>

    
{% endblock %}