/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* ===> partie main <== */

main{
	padding-left 	: 10%;
	padding-right 	: 10%;
	padding-top		: 5%;
	padding-bottom	: 5%;
	background-image: url('../img/template-by-yassine/motif.jpg');
	background-repeat: repeat;
	z-index : 10;
}

/* ===> partie header (sans les menus) <== */

header {
  height:420px;
  z-index:10;
  background-image: url('../img/template-by-yassine/motif.jpg');
  background-repeat: repeat;
}

.header-banner {
  background-color: #292f33;
  background-image: url('../img/template-by-yassine/header_banner.jpg');
  background-repeat: no-repeat;
  background-position: center -300px;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.header-banner h1 {
    background-color: #292f33;
    float : right;
}

/* ===> partie footer (sans les menus) <== */

.footer-banner {
  background-color: #292f33;
  background-image: url('../img/template-by-yassine/footer_banner.jpg');
  /*
  background-position: center -300px;
  background-repeat: no-repeat;
  background-size: cover;
  */
  width: 100%;
  height: 100px;
}

header .logo {
  background: transparent;
  background-image: url('../img/template-by-yassine/header_logo.png');
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  top: 28px; 
  height: 256px;
  width: 256px;
}

header h1 {
  position: absolute;
  top: 72px; 
  left: 250px;
  color: #fff;
}

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%;
  background-color: #292f33;
    
}

/* ===> menu fixe <== */

#menu-fixe {
  width:100%;
  height:60px;
  background: #292f36;
  postion:fixed;	
  z-index:10;
}

#menu-fixe ul { 
  list-style-type: none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width: 960px; 
}

#menu-fixe ul li { 
  display: inline-block; 
  line-height: 60px;
  margin-left: 10px;
}

#menu-fixe ul li a {
  text-decoration: none; 
  color: #a9abae;
  font-weight: bold;
}

/* ===> menu variable <== */

#menu-variable {
  width:100%;
  height:60px;
  background: #292f36;
  postion:fixed;
  z-index:10;
}

#menu-variable ul { 
  list-style-type: none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width: 960px; 
}

#menu-variable ul li { 
  display: inline-block; 
  line-height: 60px;
  margin-left: 10px;
}

#menu-variable ul li a {
  text-decoration: none; 
  color: #a9abae;
  font-weight: bold;
}

/* The separator between items (|) */
.vertical-separator {
    color: red;
    font-weight: bold;
}

/* ===> footer-banner <=== */

footer {
  background-color: #292f33;
  background-image: url('../img/template-by-yassine/header_banner.jpg');
}
  
#footer-fixe {
  width:100%;
  height: 60px;
  background: #292f36;
  /* postion:fixed; */
  z-index:10;
}

#footer-fixe ul { 
  list-style-type: none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width: 960px; 
}

#footer-fixe ul li { 
  display: inline-block; 
  line-height: 60px;
  margin-left: 10px;
}

#footer-fixe ul li a {
  text-decoration: none; 
  color: #a9abae;
  font-weight: bold;
}


/* demo */
.content{ width: 960px; max-width: 100%; margin:0 auto; padding-top: 60px; }
article { width: 720px; float: left; }
article p:first-of-type { margin-top: 0; }
aside { width: 120px; float: right; }
aside img { max-width: 100%; }
body { 
  color: #292f36;
  font-family: helvetica;
  line-height: 1.6;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the ²ument.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
