{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} {{theUser.firstName}} {{theUser.lastName }} ~ Account Area : Modify your account information {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="#information">Account Information | </a></li>

        <li><a href="#change-password">Change Password | </a></li>        

        <li><a href="#image">Profile Image</a></li>

        {# <li><a href="#newsletter"> | Newsletter Preferences</a></li> #}
    </ul>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yassine/css/responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('etudiants/yassine/css/yassine_auth.css') }}"> {# same style as auth for tabs #}
    <link rel="stylesheet" href="{{ asset('etudiants/yassine/css/yassine_account.css') }}"> 
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/yassine/js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/yassine/js/yassine_auth.js') }}" type="text/javascript"></script> {# same logic as auth for tabs #}
    <script src="{{ asset('etudiants/yassine/js/yassine_account_forms.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/yassine/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}


{% block REDEFINIR_MAIN %}

    <div id="pseudo-header" align="center">
        <h2>You are logged in as {{ theUser.firstName }} {{ theUser.lastName }}</h2>
        <br>
        {% if theUser.usertype == "administrator" %}
            <h3>Go to <a href="{{path('rsa_hayfa_administrator_adminhomepage')}}">admin area</a> or update your account information.</h3>
        {% elseif theUser.usertype == "client" %}
            <h3>Go to <a href="{{path('rsa_yasmine_type_offer_rent_sale') }}">client area</a> or update your account information.</h3>
        {% else %}    
            <h3>Go to <a href="{{path('rsa_hajer_realtor_hom') }}">realtor area</a> or update your account information.</h3>
        {% endif %}
        <br>
    </div>

    <div id="horizontalTab">

        <ul id=tab-menu-hidden>
            <li><a href="#information">Account Information</a></li>
            <li><a href="#change-password">Change Password | </a></li>
            <li><a href="#image">Profile Image</a></li>
        </ul>

        <div id="information" align="center" >
            <h1>You can view / update your information here</h1>
            <form id="update-account-form" action="{{path('rsa_yassine_ajax_update_account_information')}}" method="POST">
                <input type="hidden" id="basic_account_user_id" value="{{theUser.id}}">
                <table>
                    <tr>
                        <td>
                            First Name
                        </td>
                        <td>
                            <input type="text" id="basic_account_first_name" required value="{{theUser.firstname}}" onclick="this.select();">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name
                        </td>
                        <td>
                            <input type="text" id="basic_account_last_name" required value="{{theUser.lastname}}" onclick="this.select();">
                        </td>
                    </tr>                
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <input type="email" id="basic_account_email" required value="{{theUser.email}}" onclick="this.select();">
                        </td>
                    </tr>                                   
                    <tr>
                        <td>
                            Birthday
                        </td>
                        <td>
                            <select id="basic_account_day" required >
                                {% for i in 1 .. 31 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>                            
                            <select id="basic_account_month" required>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                            <select id="basic_account_year" required>
                                {% for i in 1900 .. 2015 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Account Type
                        </td>
                        <td>
                            <input type="text" id="basic_account_email" readonly value="&nbsp;{{theUser.usertype}}" onclick="this.style.backgroundColor = '#d3d3d3';" onfocusin="this.style.backgroundColor = '#d3d3d3';" onfocusout="this.style.backgroundColor = '#ffffff';">
                        </td>
                    </tr>                        
                    <tr>
                        <td colspan="2" align="center">
                            <button id='basic_account_reset' onclick="basic_account_reset_fields();
                                    return false;" style="background-color: white;">Reset account information Fields</button>
                        </td>
                        <td>
                        </td>                        
                    </tr>                    
                </table>
                <br>
                <button id='basic_account_submit'><img src="{{ asset ('etudiants/yassine/img/update_account_info.png') }}" height="50"/></button>
            </form>

            <br>
            <div id="basic_account_response" class="response" align="center"></div>
            <br>


        </div>

        <div id="image" align="center">
            <h1> Your Profile Image </h1>
            
            <br>                
            
            <div id="image-response" class="response" align="center">
                <img src="{{theUser.userImageUrl}}" height="200px">
            </div>
            
            <br>
        </div>

        <div id="change-password" align="center">
            <h1>Change your password here ! </h1>
            <form id="change-password-form" action="{{path('rsa_yassine_ajax_change_password_form')}}" method="POST">
                <input type="hidden" id="change_password_user_id" value="{{theUser.id}}">
                <table>
                    <tr>
                        <td>
                            Old Password :
                        </td>
                        <td>
                            <input type="password" id="change_password_oldpassword" required placeholder=" Your Old Password" onblur="if (this.value != '') {
                                        this.value = CryptoJS.SHA256(this.value);
                                    }"  onclick="this.value = '';" onfocusin="this.value = '';">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            New Password :
                        </td>
                        <td>
                            <input type="password" id="change_password_password1" required placeholder=" Your New Password" onblur="
                                    if (this.value != '')
                                    {
                                        if ((this.value.length) < 6)
                                        {
                                            alert('Your new pasword is shorter than 6 characters !\nPlease choose a longer password.');
                                            this.value = '';
                                        }
                                        else {
                                            this.value = CryptoJS.SHA256(this.value);
                                        }
                                    }"  onclick="this.value = '';" onfocusin="this.value = '';">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Confirm Password :
                        </td>
                        <td>
                            <input type="password" id="change_password_password2" required placeholder=" New Password Again" onblur="if (this.value != '') {
                                        if (this.value != document.getElementById('change_password_password1').value)
                                            this.value = CryptoJS.SHA256(this.value);
                                        if (this.value != document.getElementById('change_password_password1').value) {
                                            alert('The 2 passwords do not match ! \n\nPlease confirm your password !');
                                            document.getElementById('change_password_password1').value = '';
                                            this.value = '';
                                            this.focus = '';
                                        }
                                    }"  onclick="this.value = '';" onfocusin="this.value = '';">
                        </td>
                    </tr>
                </table>
                <br>
                <button id='change-password-submit'><img src="{{ asset ('etudiants/yassine/img/bannier_change_password.png') }}" height="50"/></button>
            </form>

            <br>
            <div id="change-password-response" class="response" align="center"></div>
            <br>

        </div>

        <script>

            var committed_first_name = '{{theUser.firstname}}';
            var committed_last_name = '{{theUser.lastname}}';
            var committed_email = '{{theUser.email}}';
                    var committed_birthday_year = {{theUser.birthday |date("Y")}};
                    var committed_birthday_month = {{theUser.birthday |date("m")}};
                    var committed_birthday_day = {{theUser.birthday |date("d")}};
                    function basic_account_reset_fields()
                    {
                        document.getElementById("basic_account_first_name").value = committed_first_name;
                        document.getElementById("basic_account_last_name").value = committed_last_name;
                        document.getElementById("basic_account_email").value = committed_email;
                        document.getElementById("basic_account_year").value = committed_birthday_year;
                        document.getElementById("basic_account_month").value = committed_birthday_month;
                        document.getElementById("basic_account_day").value = committed_birthday_day;
                    }

            basic_account_reset_fields(); // For first reset
        </script>

        <script>
            // Ysasine : This is my source : https://hacks.mozilla.org/2011/03/the-shortest-image-uploader-ever/
            function uploadImgurImage(file) {

            alert('File : ' + file);

            if (!file || !file.type.match(/image.*/)) 
            {
                alert('Invalid image !');
                return;
            }
                    alert('Valid image :) !');
                    
                    var fd = new FormData();
                    fd.append("image", file); // Append the file
                    fd.append("key", "c2833efa8a96c415d41b09f58e6d0c36691a1995");
                    // Get your own key: http://api.imgur.com/

                    // Create the XHR (Cross-Domain XHR FTW!!!)
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "http://api.imgur.com/2/upload.json"); // Boooom!
                    xhr.onload = function() {
                    // Big win!
                    // The URL of the image is:
                    JSON.parse(xhr.responseText).upload.links.imgur_page;
                    }
            // Ok, I don't handle the errors. An exercice for the reader.
            // And now, we send the formdata
            xhr.send(fd);
            
            }

        </script>

    </div>

{% endblock %}  