{# FICHIER MODIFIE #}

{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Account Area : Log in, Sign Up & Change Account Informations {% endblock %}

{% block REDEFINIR_LOGOUT %}
    {# #}
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="#overview">Overview | </a></li>

        <li><a href="#login">Log In | </a></li>        

        <li><a href="#forgot-password">Forgot Password | </a></li>

        <li><a href="#forgot-email">Forgot Email | </a></li>

        <li><a href="#sign-up">Sign Up</a></li>
    </ul>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yassine/css/responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('etudiants/yassine/css/yassine_auth.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/yassine/js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/yassine/js/yassine_auth.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/yassine/js/yassine_auth_forms.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/yassine/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}


{% block REDEFINIR_MAIN %}
    <script>
        function updateTarget(theNumber, target)
        {
            document.getElementById(target).value = theNumber;
        }
    </script>
    <div id="horizontalTab">

        <ul id=tab-menu-hidden>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#login">Login</a></li>
            <li><a href="#forgot-password">Forgot Password</a></li>
            <li><a href="#forgot-email">Forgot Email</a></li>
            <li><a href="#sign-up">Sign Up</a></li>
        </ul>

        <!-- <p class="info"></p> -->

        <div id="overview" align="center">
            <p>Welcome ! This is the account area. Here you can <a href="#login">Login</a> or <a href="#sign-up">Sign Up</a> !</p>
            <p>Have you <a href="#forgot-password">forgotten your password</a> ? Don't worry, we can send you an email to recover your account.
            <p>Are you juggling many emails ? Have you <a href="#forgot-email">forgotten the email address</a> associated with this account ? Just tell us who you are, and we will show you your email !</p>

        </div>

        <div id="login" align="center">
            <h1>Please login here ! </h1>
            <form id="login-form" action="{{path('rsa_yassine_ajax_login_form')}}" method="POST">
                <table>
                    <tr>
                        <td>
                            Email :
                        </td>
                        <td>
                            <input type="email" id="login-email" required placeholder=" your-email@domain" onblur="updateTarget(this.value, 'password-email');">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password :
                        </td>
                        <td>
                            <input type="password" id="login-password" required placeholder=" your password" onblur="if (this.value != '') {
                                        this.value = CryptoJS.SHA256(this.value);
                                    }" onclick="this.value = '';" onfocusin="this.value = '';">
                        </td>
                    </tr>
                    </tr>
                </table>
                <br>
                <button><img src="{{ asset ('etudiants/yassine/img/login_login_red.png') }}" height="50"/></button>
            </form>
            <br>
            <div id="login-response" class="response" align="center"></div>
            <br>
        </div>

        <div id="forgot-password" align="center">
            <h1>Please enter your email !</h1>
            <h2>We will send you an email with reset information ! </h2>
            <form id="password-form" action="{{path('rsa_yassine_ajax_password_form')}}" method="POST">
                Email :
                <input type="email" id="password-email" required placeholder=" your-email@domain">
                <br>
                <br>
                <button><img src="{{ asset ('etudiants/yassine/img/bannier_forgot_password.png') }}" height="50"/></button>
            </form>

            <br>
            <div id="password-response" class="response" class="response" align="center"></div>
            <br>

        </div>

        <div id="forgot-email" align="center">
            <h1>To recover your email, tell us a little bit about yourself !</h1>
            <h2>We will let you know if we have an account associated with your information </h2>
            <form id="email-form" action="{{path('rsa_yassine_ajax_email_form')}}" method="POST">
                <table>
                    <tr>
                        <td>
                            First Name
                        </td>
                        <td>
                            <input type="text" id="email-firstname" required placeholder=" Your First Name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name
                        </td>
                        <td>
                            <input type="text" id="email-lastname" required placeholder=" Your Last Name">
                        </td>
                    </tr>                    
                    <tr>
                        <td>    
                            Account Type
                        </td>
                        <td>
                            <select id="email-account"> 
                                <option value="client">I am a client</option> 
                                <option value="realtor">I am a realtor</option>
                                <option value="administrator">I am an administrator</option>
                            </select>                
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Birthday
                        </td>
                        <td>
                            <select id="email-day" required>
                                {% for i in 1 .. 31 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>                            
                            <select id="email-month" required>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                            <select id="email-year" required>
                                {% for i in 1900 .. 1989 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                                <option value="1990" selected="selected">1990</option>
                                {% for i in 1991 .. 2015 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>                            
                        </td>
                    </tr>
                </table>
                <br>                            
                <button><img src="{{ asset ('etudiants/yassine/img/bannier_forgot_email.png') }}" height="50"/></button>                            
            </form>

            <br>
            <div id="email-response" class="response" align="center"></div>
            <br>

        </div>

        <div id="sign-up" align="center">
            <h1>Please fill your information to sign up as a client ! </h1>
            <form id="signup-form" action="{{path('rsa_yassine_ajax_signup_form')}}" method="POST">
                <table>
                    <tr>
                        <td>
                            First Name
                        </td>
                        <td>
                            <input type="text" id="signup-firstname" required placeholder=" Your First Name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name
                        </td>
                        <td>
                            <input type="text" id="signup-lastname" required placeholder=" Your Last Name">
                        </td>
                    </tr>                
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <input type="email" id="signup-email" required placeholder=" your-email@domain">
                        </td>
                    </tr>                                   
                    <tr>
                        <td>
                            Birthday
                        </td>
                        <td>
                            <select id="signup-day" required>
                                {% for i in 1 .. 31 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>                            
                            <select id="signup-month" required>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                            <select id="signup-year" required>
                                {% for i in 1900 .. 1989 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                                <option value="1990" selected="selected">1990</option>
                                {% for i in 1991 .. 2015 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password :
                        </td>
                        <td>
                            <input type="password" id="signup-password1" required placeholder=" Your New Password" onblur="if (this.value != '') {                                        
                                            this.value = CryptoJS.SHA256(this.value);
                                    }"  onclick="this.value = '';" onfocusin="this.value = '';">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Confirm Password :
                        </td>
                        <td>
                            <input type="password" id="signup-password2" required placeholder=" Your Password Again" onblur="if (this.value != '') {
                                        if (this.value != document.getElementById('signup-password1').value)
                                            this.value = CryptoJS.SHA256(this.value);
                                        if (this.value != document.getElementById('signup-password1').value) {
                                            alert('The 2 passwords do not match ! \n\nPlease confirm your password !');
                                            document.getElementById('signup-password1').value = '';
                                            this.value = '';
                                            this.focus = '';
                                        }
                                    }"  onclick="this.value = '';" onfocusin="this.value = '';">
                        </td>
                    </tr>
                </table>
                <br>
                <button id='signup-submit'><img src="{{ asset ('etudiants/yassine/img/login_login_green.png') }}" height="50"/></button>
            </form>

            <br>
            <div id="signup-response" class="response" align="center"></div>
            <br>

        </div>

    </div>

{% endblock %}
