



{# empty Twig template #}

{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    H3Y2 - RSA - Send an Email to the realtor
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajer2.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
   
{% endblock %}




{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_hajer_realtor_hom')}}">Homepage | </a></li>
        <li><a href="{{path('hajer_listRentOffersByRealtor')}}">My rent offers | </a></li>
        <li><a href="{{path('hajer_listSaleOffersByRealtor')}}">My sale offers | </a></li>
        <li><a href="{{path('hajer_searchMyRentOfferByTitle')}}">Search my offers </a></li>
        
    </ul>
{% endblock %}   


{% block REDEFINIR_MAIN %}

   

    {% for cli in client %}
        {% for rea in realtor %}
            
            
            <form class="basic-grey" action="{{ path('hajer_sendMail',{'idC':cli.id,'idR':rea.id}) }}" method="POST" >
<fieldset>
        
              
 <h1> Send an Email
                <span>Please fill your information to add an offer.</span>
            </h1>
                <table>


<tr> <td> <label> Name: </label>  <span class="ob"> * </span>  </td> <td> <input type="text" name="name" value=" {{ cli.firstname }} {{ cli.lastname }} " readonly /> <br> </td> </tr>
                


                    <tr> <td>  </td> 
                        <td> <input type="email" name="emailf" value=" {{ cli.email }} "  hidden> <br> </td>
                    </tr>
                    <br/>

                    <tr> <td> <label> To: </label>  <span class="ob"> * </span>  </td> <td> 
                            <input type="email" name="email" value=" {{ rea.email }} "  /> <br> </td> </tr>
   
                   
                {% endfor %}
            {% endfor %}

                                <tr> <td> <label> Subject: </label>  <span class="ob"> * </span>  </td> 
                                    <td> <input type="text" name="subject" placeholder="Subject.." required/> <br> </td> </tr>
   

           
            <tr> <td> <label> Message: </label>  <span class="ob"> * </span>  </td> <td> 
                        <textarea name="message" rows="8" cols="85" placeholder="Message.."  required></textarea>
                        <br> </td> </tr>    
            
            
            <div id="recaptcha-container" style="width: 304px; height: 78px;margin-left: 110px;margin-bottom: 27px;">
               
                
            <div class="g-recaptcha" data-sitekey="6LdclwQTAAAAADE2TXOENHTvWDfpYCokXHv_eIrj"></div>
            <br/>

            <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                
            </div>


<tr> <td style="width: 185px;"> <div class="marge"> Fields marked <span class="ob"> * </span> are required. </div>  </td> <br> </tr>

            <tr> <td> <input type="submit"  class="button" value="Send"/> </td> </tr>

        </table>


        </fieldset>

    </form>




{% endblock %}

