
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Admin Homepage {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        
        <li><a href="{{path('rsa_hayfa_administrator_adminhomepage')}}">Home page </a></li>

    </ul>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/yassine_auth.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/hayfa/js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/yassine_auth.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}


{% block REDEFINIR_MAIN %}
    <h1>Added successfully </h1>
    <li><a href="{{path('rsa_hayfa_administrator_adminhomepage')}}">return</a></li>
    
{% endblock %}