{% extends "::base.html.twig" %}


{# empty Twig template #}

{% block REDEFINIR_TITLE %} Admin Homepage {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>

        <li><a href="{{path('rsa_hayfa_administrator_adminhomepage')}}">Home page </a></li>

    </ul>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/yassine_auth.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/hayfa/js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/yassine_auth.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}
{% block REDEFINIR_MAIN %}


    {% for o in complaints %}
        <fieldset>
            <legend> </legend>

            <table border =0 align="center">

                <tr>
                    <td> Client Name: </td>    
               
                    <td> {{ o.idOfClient.firstname }} {{ o.idOfClient.lastname }} </td>
                </tr>     
                <tr>
                    <td> Offer Title: </td>
                
                    <td> {{o.idOfOffer.title}}</td>
                </tr>
                <tr>
                    <td> Realtor name: </td>
                
                    <td> {{o.idOfOffer.idOfRealtor.firstName}} {{o.idOfOffer.idOfRealtor.lastName}}</td>
                </tr>
                <tr>
                    <td> Text Of Complaint: </td>
                
                    <td> {{ o.textofcomplaint }} </td>
                </tr>
                <tr>
                    <td><a href="{{path("rsa_hayfa_administrator_disableUserSale", { 'idClient': o.idOfOffer.idOfRealtor.id ,'id': o.id })}}"> desactiver le realtor de l'offre</a></td>  
                </tr>

                  </table>
        </fieldset>
        <hr  align="center" width="1000px" color="blue" background-color="blue" height="5px" >
    {% endfor %}


{% endblock %}