
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Admin Homepage {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li> <a href="#add-user"> Add User | </a></li>  
        <li> <a href="#manage-complaints"> Manage Complaints | </a></li> 
        <li><a href="#update-user">Uppdate users | </a></li>
        
        
        <li><a href="{{path('rsa_hayfa_administrator_manageRealtor')}}">Manage Realtors requests |  </a></li>
        <li><a href="#view-stat">View stat  </a></li>
        
    </ul>
        
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/yassine_auth.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/hayfa/js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/yassine_auth.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}


{% block REDEFINIR_MAIN %}
    
    <div id="horizontalTab">

        <ul id=tab-menu-hidden>
            <li> <a href="#add-user"> Add User | </a></li>
            <li> <a href="#manage-complaints"> Manage Complaints | </a></li>
            <li><a href="#update-user">Uppdate users | </a></li>
            
            <li><a href="#view-stat">View stat</a></li>
            <li><a href="#sign-up">Sign Up</a></li>
           
        </ul>

        <!-- <p class="info"></p> -->

       <div id="add-user" align="center">
         
          <li>click to:<a href="{{path('rsa_hayfa_administrator_addRealtor')}}">Add Realtor </a></li>
          <li> click to:<a href="{{path('rsa_hayfa_administrator_addAdministrator')}}">Add administrator </a></li>
            </div>

        <div id="manage-complaints" align="center">
        <li>click to <a href="{{path('rsa_hayfa_administrator_manageRentComplaints')}}">Manage Rent Complaints  </a></li>
        <li>click to<a href="{{path('rsa_hayfa_administrator_manageSaleComplaints')}}">Manage Sale Complaints </a></li>
        </div>

        <div id="update-user" align="center">
        
        <li>click to <a href="{{path('rsa_hayfa_administrator_listeRealtors')}}">Update Realtors   </a></li> 
        <li>click to<a href="{{path('rsa_hayfa_administrator_listeClients')}}">Update Clients   </a></li> 
<li>click to <a href="{{path('rsa_hayfa_administrator_listeadminsComplaints')}}">Update administrators   </a></li> 
        </div>

        <div id="view-stat" align="center">
          
           <li>click to view <a href="{{path('_graphePie')}}">the distribution of users </a></li>
          

        </div>

        <div id="sign-up" align="center">
       
            <p> div5 div5 div5</p>
        </div>

    </div>

{% endblock %}