

{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Admin Homepage {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        
        <li><a href="{{path('rsa_hayfa_administrator_adminhomepage')}}">Home page </a></li>

    </ul>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/yassine_auth.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/hayfa/js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/yassine_auth.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}


{% block REDEFINIR_MAIN %}
    
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
type="text/javascript"></script>
<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<script type="text/javascript">
 {{ chart(chart) }}
</script>
<div align="center"id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>  
{% endblock %}