{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Admin Homepage {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        
        <li><a href="{{path('rsa_hayfa_administrator_adminhomepage')}}">Home page </a></li>

    </ul>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/yassine_auth.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/hayfa/js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/yassine_auth.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}
{% block REDEFINIR_MAIN %}
   {% for r in realtors %}
<fieldset>
    
    
   
<table border =0 align="center">
    
    <tr>
        <td>First name: </td>    
        <td> {{ r.firstname }} </td>
    </tr>
    <tr>
        <td>Last name: </td>
        <td> {{ r.lastname }} </td>
    </tr>
    <tr>
        <td>Email: </td>
        <td> {{ r.email }} </td>
    </tr>
    <tr>
       <td>Birthday: </td>
       <td> {{ r.birthday|date('d/m/Y') }} </td>
    </tr>
    <tr>
       <td>Request Day: </td>
       <td> {{ r.requestdate|date('d/m/Y') }} </td>
    </tr>
    <tr>  
        <td><a href="{{path("rsa_hayfa_administrator_refuseRequest", { 'id': r.id })}}"> Refuser</a></td>   
        <td><a href="{{path("rsa_hayfa_administrator_acceptRequest", { 'id': r.id })}}"> accepter</a></td>   
        
    </tr>

</table>
           
    
</fieldset>
        <hr  align="center" width="1000px" color="blue" background-color="blue" height="5px" >
        {% endfor %}
        {% endblock %}