
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Admin Homepage {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        
        <li><a href="{{path('rsa_hayfa_administrator_adminhomepage')}}">Return to the home page </a></li>

    </ul>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/responsive-tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('etudiants/hayfa/css/yassine_auth.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/hayfa/js/jquery.responsiveTabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/yassine_auth.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/hayfa/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}


{% block REDEFINIR_MAIN %}
    
   <form action="" method="post" {{ form_enctype(Form) }}>
    <table>
        <tr>
            <td> Email : </td>
            <td>{{form_widget(Form.email)}}</td>
        </tr>  
        <tr>
            <td> firstname : </td>
            <td>{{form_widget(Form.firstname)}}</td>
        </tr> 
        <tr>
            <td> lastname : </td>
            <td>{{form_widget(Form.lastname)}}</td>
        </tr> 
        <tr>
            <td> userimageurl : </td>
            <td>{{form_widget(Form.userimageurl)}}</td>
        </tr> 
        <tr>
            <td> birthday : </td>
            <td>{{form_widget(Form.birthday)}}</td>
        </tr> 
    </table>
        <br>       
    <input type="submit"/>
    {{form_rest(Form)}}
</from>	
{% endblock %}