{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    Detailed Offer View
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    {#
    #}
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/houssem/css/houssem_detailed.css') }}">   
{% endblock %}

{% block REDEFINIR_MAIN %}

    <div id="details-div">
        {{ render(controller('RsaHoussemBundle:WelcomeDetailed:getOffersAjax', { 'RentOffer': RentOffer , 'SaleOffer': SaleOffer } )) }}
    </div>    

    <div class="boxedarea">
        <h2 align="center">More Pictures of this building</h2>
    </div>


    <div class="boxedarea">
        <h2 align="center"> DEBUGGING INFORMATION       </h2>
        <h2> RentOffer : {{dump(RentOffer) }} </h2>
        <h2> SaleOffer : {{dump(SaleOffer) }} </h2>
        <h2> Secondary Images ! {{dump(SecondaryImages) }} </h2>
    </div>


{% endblock %}