<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
function initialize() {
  var cor = document.getElementById('cor').value.split(",");
 
  var myLatlng = new google.maps.LatLng(cor[0],cor[1]);
  var mapOptions = {
    zoom: 17,
    mapTypeId: google.maps.MapTypeId.SATELLITE,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
      <input id="cor" type="hidden" value={{name}} />
    <div id="map-canvas"></div>
  </body>
</html>