{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %} Realtor Subscription Request {% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{ path ('rsa_houssem_welcomeRent') }}"> Rent Offer   | </a></li>
        <li><a href="{{ path ('rsa_houssem_welcomeSale') }}"> Sale Offer   </a></li>
            {% if not app.session.get('connectedUserId') %}
            <li><a href="{{ path ('rsa_houssem_Realtor_Subscription_Request') }}">   |   Request Realtor Profile </a></li>
            <li><a href="{{ path ('rsa_yassine_account_accountArea') }}#sign-up">   |   Sign Up as Client</a></li>             
            {% endif %}

    </ul>
{% endblock %}

{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/houssem/css/houssem_realtor_subscription.css') }}">   
    <link rel="stylesheet" href="{{ asset('etudiants/yassine/css/yassine_auth.css') }}">
{% endblock %}

{% block AJOUTER_JAVASCRIPT_LAST_TAG %}
    <script src="{{ asset('etudiants/houssem/js/houssem_realtor_subscription_form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('etudiants/houssem/js/sha256.js') }}" type="text/javascript"></script>
{% endblock %}

{% block REDEFINIR_MAIN %}
    <div class="boxedarea" align="center">
        <h1>Request a realtor profile </h1>
        <form id="realtor-request-form" action="{{path('rsa_houssem_ajax_realtor_subscription')}}" method="POST">
            <table>
                <tr>
                    <td>
                        First Name
                    </td>
                    <td>
                        <input type="text" id="signup-firstname" required placeholder=" Your First Name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name
                    </td>
                    <td>
                        <input type="text" id="signup-lastname" required placeholder=" Your Last Name">
                    </td>
                </tr>                
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        <input type="email" id="signup-email" required placeholder=" your-email@domain">
                    </td>
                </tr>                                   
                <tr>
                    <td>
                        Birthday
                    </td>
                    <td>
                        <select id="signup-day" required>
                            {% for i in 1 .. 31 %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>                            
                        <select id="signup-month" required>
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                        <select id="signup-year" required>
                            {% for i in 1900 .. 1989 %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                            <option value="1990" selected="selected">1990</option>
                            {% for i in 1991 .. 2015 %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>
                        Password :
                    </td>
                    <td>
                        <input type="password" id="signup-password1" required placeholder=" Your New Password" onblur="if (this.value != '') {
                                    this.value = CryptoJS.SHA256(this.value);
                                }"  onclick="this.value = '';" onfocusin="this.value = '';">
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password :
                    </td>
                    <td>
                        <input type="password" id="signup-password2" required placeholder=" Your Password Again" onblur="if (this.value != '') {
                                    if (this.value != document.getElementById('signup-password1').value)
                                        this.value = CryptoJS.SHA256(this.value);
                                    if (this.value != document.getElementById('signup-password1').value) {
                                        alert('The 2 passwords do not match ! \n\nPlease confirm your password !');
                                        document.getElementById('signup-password1').value = '';
                                        this.value = '';
                                        this.focus = '';
                                    }
                                }"  onclick="this.value = '';" onfocusin="this.value = '';">
                    </td>
                </tr>
                <tr>
                    <td>
                        Request Text :
                    </td>
                    <td>
                        <textarea id="signup-request-text" required placeholder="Please explain why you want a realtor account.">
                        </textarea>
                    </td>
                </tr>
            </table>
            <br>
            <button id='signup-submit'><img src="{{ asset ('etudiants/yassine/img/login_login_green.png') }}" height="50"/></button>
        </form>

        <br>
        <div id="signup-response" class="response" align="center"></div>
        <br>
    </div>
{% endblock %}
