{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    View Offers - H3Y2 Real Estate Agency !
{% endblock %}

{% block REDEFINIR_DESCRIPTION %}
    <meta name="description" content="H3Y2 Real Estate Agency Welcome !">
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{ path ('rsa_houssem_welcomeRent') }}"> Rent Offer   | </a></li>
        <li><a href="{{ path ('rsa_houssem_welcomeSale') }}"> Sale Offer</a></li>
            {% if not app.session.get('connectedUserId') %}
            <li><a href="{{ path ('rsa_houssem_Realtor_Subscription_Request') }}">   |    Request Realtor Profile</a></li>
            <li><a href="{{ path ('rsa_yassine_account_accountArea') }}#sign-up">   |   Sign Up as Client</a></li>             
            {% endif %}
    </ul>
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/houssem/css/houssem_welcome.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    <script src="{{ asset('etudiants/houssem/js/houssem_welcome_js.js') }}"></script>
    <script src="{{ asset('etudiants/houssem/js/houssem_welcome_jquery.js') }}"></script>
{% endblock %}


{% block REDEFINIR_MAIN %} 

    <div id="search-preferences">
        <form id="search-form" action="{{path('rsa_houssem_ajax_search_form')}}" method="POST">
            <table>
                <col width="40%" align="left">
                <col width="40%" align="center">
                <col width="20%" align="right">

                <tr>
                    <td align="center">
                        <span> I want to : </span>
                    </td>
                    <td>
                        <select id="offertype"  onchange="setRentOrSale();"> 
                            <option value="RentOffer" {% if ( RentOffer )%} selected="selected" {% endif %} >Rent a Building</option> 
                            <option value="SaleOffer" {% if ( SaleOffer )%} selected="selected" {% endif %} >Buy a Building</option>
                        </select>
                    </td>
                    <td rowspan="4" id="submit-button-cell" >
                        <div id=submit-button-div">
                            <br>
                            <br>
                            <button type="submit" id="search-submit"><img src="{{ asset ('etudiants/houssem/img/search-1.png') }}" height="150"/></button>
                        </div>
                    <td>
                </tr>

                <tr>
                    <td align="center">
                        <span> I am looking for : </span>
                    </td>
                    <td>
                        <select id="dealtype" > 
                            <option value="Any">Any Building</option> 
                            <option value="Apartment">An Apartment</option>
                            <option value="Villa">A Villa</option>
                            <option value="Warehouse">A Warehouse</option> 
                            <option value="Empty Lot">An Empty Lot</option> 
                        </select>

                    </td>
                </tr>                

                <tr>
                    <td align="center">
                        <span> It needs to be located in : </span>
                    </td>
                    <td>

                        <select id="governorate" > 
                            <option value="Any">Anywhere in Tunisia</option> 
                            <option value="Ariana">Ariana</option> 
                            <option value="Beja">Beja</option> 
                            <option value="Ben Arous">Ben Arous</option> 
                            <option value="Bizerte">Bizerte</option> 
                            <option value="Gabes">Gabes</option> 
                            <option value="Gafsa">Gafsa</option> 
                            <option value="Jendouba">Jendouba</option> 
                            <option value="Kairouan">Kairouan</option> 
                            <option value="Kasserine">Kasserine</option> 
                            <option value="Kebili">Kebili</option> 
                            <option value="Kef">Kef</option> 
                            <option value="Mahdia">Mahdia</option> 
                            <option value="Manouba">Manouba</option> 
                            <option value="Medenine">Medenine</option> 
                            <option value="Monastir">Monastir</option> 
                            <option value="Nabeul">Nabeul</option> 
                            <option value="Sfax">Sfax</option> 
                            <option value="Sidi Bouzid">Sidi Bouzid</option> 
                            <option value="Siliana">Siliana</option> 
                            <option value="Sousse">Sousse</option> 
                            <option value="Tataouine">Tataouine</option> 
                            <option value="Tozeur">Tozeur</option> 
                            <option value="Tunis">Tunis</option>
                            <option value="Zaghouan">Zaghouan</option>  
                        </select>
                    </td>
                </tr>

                <tr>
                    <td align="center">
                        <span> I need to move in before : </span>
                    </td>
                    <td>
                        <select id="available_year">
                            {% for i in 2015..2020 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <select id="available_month" >
                            {% for i in 1..12 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <select id="available_day" >
                            {% for i in 1..31 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td align="center">
                        <span> Only show Ecological Houses :</span>
                    </td>
                    <td>
                        <select id="only_show_ecological" > 
                            <option value="true">Yes</option> 
                            <option value="false" selected="selected">No</option>
                        </select>

                    </td>
                </tr>

            </table>
            <div id="rent-or-sale-value" align="center" style="width:70%;">
                {% if ( RentOffer )%}
                    <!-- we are searching rent offers -->
                    <br>
                    <span> I want a <b>monthly rent</b> less than : </span>
                    &nbsp;&nbsp;&nbsp;
                    <input type=range min=0 max=10000 id="prix_max_range" step=50 value="5000" onchange="updateTargetWithNumber(value, 'prix_max_number');">
                    &nbsp;&nbsp;&nbsp;
                    <input type="number" min="0" max="10000" id="prix_max_number" value="5000" class="amount-input" tabindex="1" onchange="updateTargetWithNumber(value, 'prix_max_range');"><br>
                {% else %}
                    <!-- we are searching sale offers -->
                    <br>
                    <span> I want a <b>sale price</b> less than : </span>
                    &nbsp;&nbsp;&nbsp;
                    <input type=range min=0 max=10000000 id="prix_max_range" step=5000 value="5000000" onchange="updateTargetWithNumber(value, 'prix_max_number');">
                    &nbsp;&nbsp;&nbsp;
                    <input type="number" min="0" max="10000000" id="prix_max_number" value="5000000" class="amount-input" tabindex="1" onchange="updateTargetWithNumber(value, 'prix_max_range');"><br>
                {% endif %}                    
            </div>

        </form>
    </div>


    <div id="offers-ajax-container">
                {{ render(controller('RsaHoussemBundle:WelcomeDetailed:getOffersAjax', { 'RentOffer': RentOffer, 'SaleOffer': SaleOffer } )) }}
                </div>

    <script>
                function  setRentOrSale()
                {
                    if (document.getElementById('offertype').value == 'RentOffer') {
                        document.getElementById('rent-or-sale-value').innerHTML = "<!-- we are searching rent offers -->\r\n                    <br>\r\n                    <span> I want a <b>monthly rent<\/b> less than : <\/span>\r\n                    &nbsp;&nbsp;&nbsp;\r\n                    <input type=range min=0 max=10000 id=\"prix_max_range\" step=50 value=\"5000\" onchange=\"updateTargetWithNumber(value, \'prix_max_number\');\">\r\n                    &nbsp;&nbsp;&nbsp;\r\n                    <input type=\"number\" min=\"0\" max=\"10000\" id=\"prix_max_number\" value=\"5000\" class=\"amount-input\" tabindex=\"1\" onchange=\"updateTargetWithNumber(value, \'prix_max_range\');\"><br>\r\n";
                    }
                    else 
                    {
                        document.getElementById('rent-or-sale-value').innerHTML = "<!-- we are searching sale offers -->\r\n                    <br>\r\n                    <span> I want a <b>sale price<\/b> less than : <\/span>\r\n                    &nbsp;&nbsp;&nbsp;\r\n                    <input type=range min=0 max=10000000 id=\"prix_max_range\" step=5000 value=\"5000000\" onchange=\"updateTargetWithNumber(value, \'prix_max_number\');\">\r\n                    &nbsp;&nbsp;&nbsp;\r\n                    <input type=\"number\" min=\"0\" max=\"10000000\" id=\"prix_max_number\" value=\"5000000\" class=\"amount-input\" tabindex=\"1\" onchange=\"updateTargetWithNumber(value, \'prix_max_range\');\"><br>\r\n";
                    }
                    return true;
                }
    </script>

{% endblock %}
