<div id="offers-ajax-content">
    <div id="listeoffre" class="listeoffre" >
        {% if (not (RentOffer) and not (SaleOffer))%}
            <div class="boxedarea">
            
                <p align="center">
                    <b>Sorry, there are no offers with these criteria !</b>
                    <br><br><br>
                    <img src="{{ asset('etudiants/houssem/img/no-results-1.png') }}">
                </p>
            
            </div>
        {% endif %}
        {% if ( RentOffer )%}
            {% for el in RentOffer %}
                {% if not ((el.state == 'Available'))%}
                    {#
                    <div class="boxedarea rent-offer-area">
                        <h1 align="center"><b>This offer is not AVAILABLE ! It is DELETED, CLOSED OR SOLD!</b></h1>
                    </div>
                    #}
                {% else %}                    
                    <div class="boxedarea rent-offer-area">
                        {% if (el.isGreen)  %}
                            <div class="isgreen-notification" >
                                <img src="{{ asset ('etudiants/houssem/img/eco-house-2.png') }}" height="160" alt="This house is ecological !"/>
                            </div>
                        {% endif %}
                        <span class="title" align="center" > <h1>{{el.title }}</h1></span>
                        <span class="dealtype" > <b>House Type : </b> {{el.dealtype }}</span><br>
                        <span class="price" >  <b>Rent Price : </b> {{el.rentPrice }}  DT </span>
                        <span class="depositValue" > (with a deposit of : {{el.depositValue }} DT)</span>
                        <br>
                        <span class="governorate" >   <b>Governorate</b> : {{el.governorate }}</span>
                        <br>
                        <div class="body" >
                            <blockquote>
                                <b>Offer Description : </b> {{el.body }}
                            </blockquote>
                        </div>
                        <span class="availableFrom" >   <b>Available From : </b> {{el.availableFrom|date("m/d/Y") }}</span>
                        <br>
                        <span class="status" > <b> This offer's current status is : </b>{{el.status }}</span>
                        <div class="votes-notification" align="right" height="50px">
                            <span class="nbVotesPlus" > {{el.nbVotesPlus }}</span>
                            <img src="{{ asset ('etudiants/houssem/img/like-1.png') }}" height="30px"/>
                            <span class="nbVotesMoins" > {{el.nbVotesMoins }}</span>
                            <img src="{{ asset ('etudiants/houssem/img/dislike-1.png') }}" height="30px"/>
                        </div>
                        <div class="main-image-area" align="center">
                            <img class="main-image" src="{{el.houseImageUrl}}" align="middle" alt="Offer main image" align="center" width="50%"/>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if ( SaleOffer )%}
            {% for el in SaleOffer %}
                {% if not ((el.state == 'Available'))%}
                    {#
                    <div class="boxedarea rent-offer-area">
                        <h1 align="center"><b>This offer is not AVAILABLE ! It is DELETED, CLOSED OR SOLD!</b></h1>
                    </div>
                    #}
                {% else %}                    

                    <div class="boxedarea sale-offer-area">
                        {% if (el.isGreen)  %}
                            <div class="isgreen-notification" >
                                <img src="{{ asset ('etudiants/houssem/img/eco-house-2.png') }}" height="160" alt="This house is ecological !"/>
                            </div>
                        {% endif %}
                        <span class="title" align="center" > <h1>{{el.title }}</h1></span>
                        <span class="dealtype" > <b>House Type : </b> {{el.dealtype }}</span><br>
                        <span class="price" >  <b>Sale Price : </b> {{el.salePrice }}  DT </span>
                        <br>
                        <span class="governorate" >   <b>Governorate</b> : {{el.governorate }}</span>
                        <br>        
                        <div class="body" >
                            <blockquote>
                                <b>Offer Description : </b> {{el.body }}
                            </blockquote>
                        </div>
                        <span class="availableFrom" >   <b>Available From : </b> {{el.availableFrom|date("m/d/Y") }}</span>
                        <div class="votes-notification" align="right" height="50px">
                            <span class="nbVotesPlus" > {{el.nbVotesPlus }}</span>
                            <img src="{{ asset ('etudiants/houssem/img/like-1.png') }}" alt="logo" height="30px"/>
                            <span class="nbVotesMoins" > {{el.nbVotesMoins }}</span>
                            <img src="{{ asset ('etudiants/houssem/img/dislike-1.png') }}" alt="logo" height="30px"/>
                        </div>
                        <div class="main-image-area" align="center">
                            <img class="main-image" src="{{el.houseImageUrl}}" align="middle" alt="Offer main image" align="center" width="50%"/>
                        </div>                        
                    </div>
                {% endif %}
            {% endfor %}  
        {% endif %}
    </div>
</div>
