{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
     H3Y2 - RSA - Detailed rent offer
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}    


{% block REDEFINIR_MAIN %}
 
{#    
{% set idC = '8' %}
Client N° {{ idC }}#}
    
<br/>
<span id="infoPDF">You have already voted for this offer ! </span>
{% for roDtl in roDetails %}
<h1>{{ roDtl.title }} - {{ roDtl.governorate }}, {{ roDtl.delegation }}</h1>


<div id="favorite_icon">  <a  href="{{path('rsa_yasmine_addFavoriteRent',{'id':roDtl.id,'idC':idClient})}}" class="lienRSOfferFAV"> <img src="{{ asset ('etudiants/yasmine/images/favorite.png') }}" height="45"/> <span id="info_add_fav_bulle">Add this offer to my favorites</span>  </a> </div>

<br/>

<a class="lienRSOffer" href="{{path('rsa_yasmine_generatePDF',{'id':roDtl.id})}}"> <div id="generate_pdf">  <img src="{{ asset ('etudiants/yasmine/images/pdf.png') }}" alt="pdf-file" height="45"/> Generate this offer as a pdf file </div> </a> 

<br/>

<a class="lienRSOffer" href="{{path('rsa_yasmine_pieChartNbVotes',{'id':roDtl.id})}}"> <div id="see_evaluation"> <img src="{{ asset ('etudiants/yasmine/images/pie-chart.png') }}" alt="pie-chart" height="40px"/><span id="eval_chart">See the evaluation of the offer </span></div> </a> 

<br/>

<div id="evaluationDiv">
        <div id="flip">	<span id="eval"> <img id="evaluate" src="{{ asset ('etudiants/yasmine/images/evaluate.png') }}" alt="pie-chart" height="40px"/><span id="eval_chart"> Evaluate this offer </span> 
        </div>
        
        <div id="panel">
  
                <a class="lienRSOffer" href="{{path('rsa_yasmine_votePlus',{'idOffer':roDtl.id,'idC':idClient})}}">      
                     <img id="like" src="{{ asset ('etudiants/yasmine/images/like.png') }}" alt="logo" height="30px"/>
                 </a>
                 
               <br/>
               
               <a class="lienRSOffer" href="{{path('rsa_yasmine_voteMoins',{'idOffer':roDtl.id,'idC':idClient})}}"> 
                    <img id="dislike" src="{{ asset ('etudiants/yasmine/images/dislike.png') }}" alt="logo" height="30px"/>
                </a>

      
          </div>
</div>

<div id="detailed_offer">

<div id="image_div">
 <img id="main-image" src="{{roDtl.houseImageUrl}}"  alt="offer_main_image" align="center" width="50%"/>
</div>

<br/>

<div id="caracts_div">
<span id="gras_attrib">Available from </span>: {{ roDtl.availablefrom|date('Y-m-d') }}<br/><br/>

<table>
    <tr>
<td> <span id="gras_attrib">Dealtype</span> : {{ roDtl.dealtype }}</td>
{% if roDtl.isgreen == false %}{% set gHouse = 'No' %}{% else %}{% set gHouse = 'Yes' %}{% endif %}
<td> <span id="gras_attrib">Green House</span> : {{ gHouse }}</td>
    </tr>

    <tr>
<td> <span id="gras_attrib">Deposit value</span> : {{ roDtl.depositvalue }}</td>
<td> <span id="gras_attrib">Rent price</span> : {{ roDtl.rentprice }}</td>
    </tr>

    <tr>
<td width="600px"> <span id="gras_attrib">Status</span> : {{ roDtl.status }}</td>
<td> <span id="gras_attrib">State</span> : {{ roDtl.state }}</td>
    </tr>
    
    <tr>
<td> <span id="gras_attrib">Body</span> : {{ roDtl.body }}</td>
<td> <span id="gras_attrib">GPS coordinates</span> : {{ roDtl.coordgps }}</td>
    </tr>

    <tr>
 <td><img src="{{ asset ('etudiants/yasmine/images/like.png') }}" alt="logo" height="30px"/> {{ roDtl.nbvotesplus }}</td>
 <td><img src="{{ asset ('etudiants/yasmine/images/dislike.png') }}" alt="logo" height="30px"/> {{ roDtl.nbvotesmoins }}</td>
    </tr>
</table>
 <br/>
 <span id="gras_attrib">Realtor's name</span> : {{ roDtl.idofrealtor.firstname }} {{ roDtl.idofrealtor.lastname }}
</div>

</div>

<br><br>

<a id="lien-sans-trait" href="{{path('hajer_sendMail',{'idC':idClient, 'idR':roDtl.idofrealtor.id})}}" >
<div class="liens-realtor"> <img src="{{ asset ('etudiants/yasmine/images/mail.png') }}" alt="logo" height="30px"/>  Contact the realtor who left this offer</div>
</a> 
<br/>

<a id="lien-sans-trait" href="{{path('hajer_realtorprofile',{'idC':idClient, 'idR':roDtl.idofrealtor.id})}}" >
<div class="liens-realtor"> <img src="{{ asset ('etudiants/yasmine/images/realtor-profile.png') }}" alt="logo" height="30px"/> See the profile of the realtor who left this offer</div>
</a>


<br/><br/>

{#
<a class="lienRSOffer" href="{{path('rsa_yasmine_listMYFavoriteRentOffer',{'id':roDtl.id,'idC':idClient})}}">SEE, MODIFY AND DELETE MY FAVORITE OFFERS</a>
<br/>
#}


    <fieldset id="manage_comms">
    <legend>Manage the comments <img src="{{ asset ('etudiants/yasmine/images/comments.png') }}" height="90"/>   </legend>  
 <a  class="lienRSOffer" href="{{path("rsa_yasmine_searchMYCommentRentOffer",{'idOffer':roDtl.id})}}">    <div class="search_comms"> <img src="{{ asset ('etudiants/yasmine/images/loupe.png') }}" alt="search-comm" height="40px"/>  Search for comments related to this offer </div> </a>
            <br/>
 <a class="lienRSOffer" href="{{path('rsa_yasmine_addComment',{'id':roDtl.id,'idC':idClient})}}">  <div class="search_comms"> <img src="{{ asset ('etudiants/yasmine/images/add.png') }}" alt="add-comm" height="40px"/> Add a comment </div> </a>
            <br/>
<a class="lienRSOffer" href="{{path('rsa_yasmine_listCommentsRentOffer',{'id':roDtl.id})}}"> <div class="search_comms"> <img  src="{{ asset ('etudiants/yasmine/images/see.png') }}" alt="see-comm" height="40px"/> See all the comments related to this offer </div> </a>
            <br/>
<a class="lienRSOffer" href="{{path('rsa_yasmine_listMYCommentsRentOffer',{'id':roDtl.id,'idC':idClient})}}">  <div class="search_comms"> <img  src="{{ asset ('etudiants/yasmine/images/see-modif-delete.png') }}" alt="see-modif-delete" height="40px"/> See, modify and delete the comments I left on this offer  </div> </a>
  
    </fieldset>
<br/>



{% endfor %}
    
{% endblock %}