
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    H3Y2 - RSA - Modify a comment
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
    
{% endblock %}

{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}    


{% block REDEFINIR_MAIN %}
    
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert-success">
    {{ flashMessage }}
</div>
{% endfor %} 


{% set idOffer = '0' %}
{% for CommRO in myCommRO %} {% set idOffer = CommRO.idofoffer.id %} {% endfor %} 
<a class="lienRSOffer" href="{{path('rsa_yasmine_detailedRentOffer',{'id':idOffer})}}">  

<div class="alert-success">Back to the detailed offer
    <img id="back-img" src="{{ asset ('etudiants/yasmine/images/back.png') }}" alt="pdf-file" height="45"/>
</div>
</a>

    
{% for CommRO in myCommRO %}

   <form method="POST">
    <fieldset> 
        <legend><h2 id="add-comm"> Modify a comment </h2></legend><br/>
         <div id="contour-add-comm">
        <span id="required-fields">*</span> <span id="req-comm"> Required fields</span>
        <br/><br/>
        <table>        

            <tr> 
                <td> <label>Modification date </label> </td> 
                <td> <label id="date-comm-modif" class="modifReglage">  {{ "now"|date("d/m/Y") }}  </label> </td> 
            </tr>
      
            <tr>
                <td> <label>Title<span id="required-fields">*</span> </label> </td>
                <td> <input id="inputs-title-modif" type="text" name="title" class="modifReglage" placeholder="My title" value="{{CommRO.title}}" required/> </td> 
            </tr>
            
             <tr>
                <td> <label>Content<span id="required-fields">*</span> </label> </td>
                <td> <textarea id="inputs-content-modif" type="text" name="body" class="modifReglage" placeholder="My content" required/>{{CommRO.body}} </textarea> </td>  
            </tr>
         
            <tr> 
                <td> <input id="bouton-comm-modif" type="submit" value="Modify a comment"/> </td>
            </tr>
        </table>
    </div>
    </fieldset>
</form>

{% endfor %}                
                
{% endblock %}