
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    H3Y2 - RSA - Search for a favorite
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
    
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    
    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}

{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}    


{% block REDEFINIR_MAIN %}
    
{#{% set idC = '8' %}
Client N° {{ idC }}#}

     <h2 id="add-comm">Search for favorites</h2>

     <form method="POST" action=""> 
     <input id="input-recherche" type="text" name="searchTitle" placeholder="Title of the favorite" required/> 

     <button type="submit" name="rechercher" value="Search"> 
     <img id="bouton-rech" src="{{ asset ('etudiants/yasmine/images/loupe.png') }}">
     </button>
 </form>

<br/>

 <div id="ampoule" >
     <a  href="#" id="lienRSOfferFAV-search">
<img id="redirect-details" src="{{ asset ('etudiants/yasmine/images/ampoule.png') }}" height="50" alt="ampoule"/>
 <span id="info_details_fav_bulle">Click on the title of one of your favorite offers to see the details of that offer</span> 
     </a>
 </div>

<br/><br/>
{% for favRO in FavRO %}
<table>
        <tr>
            <td>
     <fieldset id="cadreListeFAVRentOffers">
<a class="lienRSOffer" href="{{path('rsa_yasmine_detailedRentOffer',{'id':favRO.idofoffer.id})}}">
         <span id="titleETcomm"> {{favRO.bookmarktitle}}</span> <br/><br/>
</a>    
      
    </fieldset>
            </td>
            
            <td>
                 <fieldset id="cadreListeRentOffersFAV">

                    <span class="dealtype" > <b>House Type : </b> {{favRO.idofoffer.dealtype }}</span><br>
                            <span class="price" >  <b>Rent Price : </b> {{favRO.idofoffer.rentPrice }}  DT </span>
                            
                            <br>
                            <span class="governorate" >   <b>Governorate</b> : {{favRO.idofoffer.governorate }}</span>
                            <br>
                            <span class="delegation" >   <b>Delegation</b> : {{favRO.idofoffer.delegation }}</span>
                            <br>
                           
                            <img id="image-fav" src="{{favRO.idofoffer.houseImageUrl}}" align="middle" alt="Offer main image" align="center" width="50%"/>
                           
                           <div id="emplacement-votes" >
                           <span> {{favRO.idofoffer.nbVotesPlus }}
                                <img src="{{ asset ('etudiants/yasmine/images/like.png') }}" height="30px"/>
                            </span>
                            <span id="nbVotesMoinsFav" > {{favRO.idofoffer.nbVotesMoins }}
                                <img src="{{ asset ('etudiants/yasmine/images/dislike.png') }}" height="30px"/>
                            </span>
                           </div>
                 </fieldset>
            </td>
        </tr>
  </table>
<br/>
   {% endfor %} 

                
{% endblock %}

