
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
     H3Y2 - RSA - Homepage
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/yasmine/css/yasmine.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

    <script src="{{ asset('etudiants/yasmine/js/jQuery.js') }}"></script>
    <script src="{{ asset('etudiants/yasmine/js/yasmine.js') }}"></script>
      
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_yasmine_type_offer_rent_sale')}}">| Homepage |</a></li>
        <li><a href="{{path('rsa_yasmine_listRentOffers')}}">| Rent offers |</a></li>
        <li><a href="{{path('rsa_yasmine_listSaleOffers')}}">| Sale offers |</a></li>
    </ul>
{% endblock %}    


{% block REDEFINIR_MAIN %}
     <h1 id="espace-client">Client area</h1>
    <img id="fond" src="{{ asset ('etudiants/yasmine/images/fond2.jpg') }}" alt="fond"/>
{#<button><a href="{{path('affichedetail')}}" > Rent Offer </a> </button>#}
      
<a class="lienRSOffer" href="{{path('rsa_yasmine_listRentOffers')}}" ><span id="choose_offerRent"> Rent Offers </span> </a> 
<a class="lienRSOffer" href="{{path('rsa_yasmine_listSaleOffers')}}" > <span id="choose_offerSale"> Sale Offers </span> </a> 
   
{% endblock %}