table, td, th {
    padding : 10px;
}

div:empty
{
    /* Do not diplay empty responses*/
    display : none;
}

.response {
    width : 50%;
    margin-top : 20px;
    border : 1px dashed #222;
    border-radius: 20px;
    padding : 10px;
}

#tab-menu-hidden{
    display : none;
}

/* Tabs container */
.r-tabs {
    position: relative;

    background-color   : rgb(41, 47, 54);

    border-top		: 2px solid #222;
    border-right	: 2px solid #222;
    border-left		: 2px solid #222;
    border-bottom	: 2px solid #222;
    
    border-radius	: 10px;
    padding 		: 10px;
    // margin		: 10px;    
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    /*background-color: rgb(41, 47, 54);*/
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
    display: inline-block;
    padding: 10px 12px;

    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    /*color: rgb(41, 47, 54);*/
    text-shadow: none;

    /*background-color: white;*/

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
    background-color: white;

    border-bottom: 4px solid white;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    display: block;
    padding: 10px;

    background-color: rgb(41, 47, 54);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #fff;
    color: rgb(41, 47, 54);
    text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
}

/* Buttons */
button {
    display:inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 5px;
    line-height: 100%;

    color: #333;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    font-weight: bold;

    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    background-color: #333;

    cursor: pointer;
}