.title{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 200%;
    font-weight: normal;
    color: #00F;

}
.title:hover {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 200%;
    font-weight: normal;
    color:#06F;

}

hr {
    width: 500px;
    color: black;
    background-color: black;
    
}

.body{
   text-align:justify; 
   width:700px; 
}