.listeoffre {
    margin-top: 50px;
    margin-left: 20px;
}

.search {
    margin-top: 50px;
    margin-left: 20px;
}
.listeoffre td{
    width: 700px;
    max-width: 800px;
    margin-top: 100px;
    margin-left: 20px;
    border-width: 1px;

}



.title{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 200%;
    font-weight: normal;
    color: #00F;

}
.title:hover {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 200%;
    font-weight: normal;
    color:#06F;

}

.isnotgreen{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 80%;
    font-weight: normal;
    color: red;
    font-variant: small-caps;
    float:right;

}	
.isgreen{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 90%;
    font-weight: normal;
    color:red;
    background: greenyellow;
    text-align: right;    
    font-variant: small-caps;
    float:right;
}	

.depositValue,.price,.availableFrom,.governorate{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #06F;
    
}


.dealtype{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #00F;
    
}

.price{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
hr {
    width: 500px;
    color: black;
    background-color: black;
    
}
.body{
   text-align:justify; 
   width:700px; 
}
.state{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
     margin-left: 180px;    
}
.nbVotesPlus{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
     margin-right:0px;    
    
}
.nbVotesMoins{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
     margin-right:0px;
   
    
}