/* Tabs container */

.boxedarea {
    border      	: 10px solid #222;
    border-radius	: 10px;
    padding 		: 10px;
    
    margin              : 20px;
}

#search-form {
    width               : 80%;
    border      	: 10px solid #222;    
    border-radius	: 10px;
    padding 		: 10px;

    margin-top          : 0px;    
    margin-bottom       : 50px;
    margin-left         : auto;
    margin-right        : auto;
}

.sale-offer-area .rent-offer-area {
    width : 100%;
    float : left;
    min-height: 250px;
}

.isgreen-notification {
    position : relative;
    top: 0;
    right: -20px;
    float : right;
}

.votes-notification {
    position : relative;
    top: 0;
    right: 0px;
    float : right;
}

#submit-button-div {
    margin : auto;
}

.main-image-area {
    margin-top: 20px;
    margin-bottom: 30px;
}

blockquote {
  background: #a9abae;
  opacity: 0.6;
  border-left: 10px solid #222;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #222;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}    
