{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    H3Y2 - RSA - Realtor's profile
{% endblock %}


{% block AJOUTER_CSS %}

    <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajerProfile.css') }}">   
        <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajer1.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>

    <script src="{{ asset('etudiants/hajer/js/toggle.js') }}"></script>   
{% endblock %}




{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_hajer_realtor_hom')}}">Homepage | </a></li>
        <li><a href="{{path('hajer_listRentOffersByRealtor')}}">My rent offers | </a></li>
        <li><a href="{{path('hajer_listSaleOffersByRealtor')}}">My sale offers | </a></li>
        <li><a href="{{path('hajer_searchMyRentOfferByTitle')}}">Search my offers </a></li>
        
    </ul>
{% endblock %}   

{% block REDEFINIR_MAIN %}

    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success">
            <bold>  {{ flashMessage }} </bold>
        </div>

    {% endfor %}




    <form class="basic-grey"  >
        <fieldset>

            <h1> Realtor's profile
                <span>Public informations</span>
            </h1>
            

                

    {% for roDtl in realtor %}
        
        <div id="floatright"> <!-- RAPPEL : ceci n'est qu'un exemple, dans votre travail vous devez mettre tous les styles dans un fichier css-->

            <img src="{{ roDtl.userimageurl }}" style="float: right;" width="200">
        </div>
            
           
                <table ><tr> <td style="width: 185px;"> <div class="marge"> -------------------------------------------------- </div>  </td> <br> </tr>
                    <tr> <td> <label> First Name: </label> &nbsp;&nbsp;&nbsp; <span id="spa" >{{ roDtl.firstname }}  </span></td> </tr>
                
                    <tr> <td> <label> Last Name: </label>  &nbsp;&nbsp;&nbsp; <span id="spa" >{{ roDtl.lastname }}  </span> </td>  </tr>
                    
<tr > <td > <label> Email: </label>  &nbsp;&nbsp;&nbsp; <span id="spa" >{{ roDtl.email }}  </span> </td>  </tr>
                
                <tr> <td style="width: 185px;"> <div class="marge"> -------------------------------------------------- </div>  </td> <br> </tr>

               
               
        

            </table>
<br/> <br/> <div style="margin-top:30px;margin-bottom:30px;">
              &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   <a id="button" class="lienRSOffer" href="{{path('hajer_listRentOffersByRealtor',{'id':roDtl.id})}}" > See rent 
                            offers</a>
                            
                <a id="button" class="lienRSOffer" href="{{path('hajer_listSaleOffersByRealtor',{'id':roDtl.id})}}" > See sale 
                            offers</a>
                            {% for ro in client %}

                {% if ro.usertype=="realtor"%}

                    <a  id="button"  class="lienRSOffer" href="{{path('hajer_sendMail',{'idC':ro.id,'idR':roDtl.id})}}" > Send Email </a> 
                {% endif %}
                {% if ro.usertype=="client"%}   
                    <a  id="button" class="lienRSOffer" href="{{path('hajer_sendMail',{'idC':ro.id,'idR':roDtl.id})}}" > Send Email </a> 
                {% endif %}

                {% if ro.usertype=="administrator"%}   
                   <a  id="button"  class="lienRSOffer" href="{{path('hajer_sendMail',{'idC':ro.id,'idR':roDtl.id})}}" > Send Email </a> 
                {% endif %}
                <br><br><br></div>
        <div id="profileDiv" >

            
            
            <div id="flip" style="background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  /* width: 300px; */
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -10px;
  font-size: 17px;
  padding-left: 174px;
  width: 328px;" >	<span id="spa"> See more details  <img id="dislike" src="{{ asset ('etudiants/yasmine/images/like.png') }}" alt="logo" height="30px"/>
                        </span> </div>

            <div id="panel" style="
  background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  /* width: 300px; */
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -10px;
  font-size: 17px;
  padding-left: 174px;
  width: 328px;
   display: none;
  margin-top: 1px;
  width: 327px;
  " >
                User type : {{ roDtl.userType }}<br>
                
                Is deleted by admin: {% if(roDtl.isDeletedByAdmin==0)%}
                No   
                {% endif %}
                    {% if(roDtl.isDeletedByAdmin!=0)%}
                        Yes 
                    {% endif %} <br>
Date of registration : 05-04-2015 <br>
                
                </div>
            </div>

            <br><br>
                {% endfor %}
             {% endfor %}



        </fieldset>

    </form>

                {% endblock %}