/* Ficher CSS de HAJER */

/* AddRentOffer */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
/*    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;*/

  font-size: 28px;
  padding: 0px 0px 14px 20px;
  display: block;
  border-bottom: 1px solid #E4E4E4;
  margin: -10px -15px 30px -10px;
  color: #4CB5B5;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
      margin-top: 10px;
}
.basic-grey label {
  /* display: block; */
  /* margin: 0px; */
  margin-left: 26px;
  font-size: 17px;
  font-style: initial;
  word-spacing: 6px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.ob{color:red;}
#cor{
 color:red;   
  margin-left: 27px;   
}

.marge{
  margin-top: 18px;
  margin-left: 27px;
  margin-bottom: 13px;
}
.basic-grey input[type="text"], .basic-grey input[type="date"], .basic-grey input[type="email"], .basic-grey input[type="number"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #000;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
/*    width: 70%;*/
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
      margin-left: -7px;
    width: 67%;
}

.basic-grey input[type="radio"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
   // width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
      margin-left: 31px;
}

.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;

    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
    
      margin-left: -7px;
        
}
.basic-grey textarea{
    height:100px;
}
.basic-grey #button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
      margin-left: 10px;
  margin-top: 17px;
  margin-bottom: 11px;
  margin-right: 10px;
}
.basic-grey #button:hover {
    background: #CF7A7A
}

.alert-success{
    
  color: rgb(132, 83, 106);
  margin-left: 295px;
  margin-bottom: 31px;
  margin-top: -20px;
  font-size: 28px;
}

.floatright
{
float: left;
margin: 0 0 10px 10px;
border: 1px solid #666;
padding: 2px;
}

#spa{
    
     word-spacing: 7px;

  font-size: 16px;
  color: rgb(78, 184, 166);
}