/* Ficher CSS de HAJER */


/* listRentOffers */

.boxedarea {
    border      	: 10px solid #222;
    border-radius	: 10px;
    padding 		: 10px;
    
    margin              : 20px;
}

#search-preferences {

    width               : 80%;
    border      	: 10px solid #222;    
    border-radius	: 10px;
    padding 		: 10px;

    margin-top          : 0px;    
    margin-bottom       : 50px;
    margin-left         : auto;
    margin-right        : auto;
}

.sale-offer-area .rent-offer-area {
    width : 100%;
    float : left;
    min-height: 250px;
}

.isgreen-notification {
    position : relative;
    top: 0;
    right: -20px;
    float : right;
}

.votes-notification {
    position : relative;
    top: 0;
    right: 0px;
    float : right;
}

#submit-button-div {
    margin : auto;
}

.main-image-area {
    margin-top: 20px;
    margin-bottom: 30px;
}

blockquote {
  background: #a9abae;
  opacity: 0.6;
  border-left: 10px solid #222;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #222;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}  


#boutonSoc{margin-left: 50px;
}

/* Fichier DetailedRentOffer.html.twig */
.lienRSOffer
{
text-decoration:none; 
color:black;
}

.lienRSOfferModifDelete
{
text-decoration:none; 
color:black;
font-size: 12px;
}

#cadreListeRentOffers
{/*
 border-style: solid;
 border-width: 5px;
 border-color: white;
 background-color: #B0C4DE;
 width: 521px;
 border-radius: 8px;*/
    
 border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #B0C4DE;
  width: 727px;
  height: 198px;
  margin-left: 125px;
  border-radius: 8px;
  padding: 20px;
}

.modifReglage
{
margin-left: 10px;   
}

#panel,#flip
{
  background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  /* width: 300px; */
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -10px;
  font-size: 17px;
  padding-left: 174px;
  width: 328px;
}

#panel
{
  display: none;
  margin-top: 1px;
  width: 327px;
}

#eval
{
  margin-left: 74px; 
}

#like
{
margin-left: 80px;
margin-top: 25px;
}

#dislike
{
margin-left: 196px; 
margin-top: -45px;
}

#evaluationDiv
{
  margin-left: 900px;
  // margin-top: -100px;
}

#infoPDF
{
  color: #5eb5e0;
  font-size: 30px;
  margin-left: 24px;
}

#evaluate
{
  margin-left: -69px;
}

#manage_comms
{
border-radius: 10px;    
border-style: solid;
border-width: 5px;
border-color : aliceblue;
height: 435px;
width: 700px;
}

.search_comms
{
background-color:#B0C4DE;
border:solid 1px #E6E6FA;
border-radius: 5px;
padding: 10px;
}

#favorite_icon
{
  margin-top: -69px;
  margin-left: -71px;
}


a.lienRSOfferFAV {
position: relative;
color: black;
text-decoration: none;
}

a.lienRSOfferFAV span {
display: none; /* On masque l'infobulle. */
}

a.lienRSOfferFAV:hover {
background: none; /* Correction d'un bug d'Internet Explorer. */
z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

cursor: help; /* On change le curseur par défaut par un curseur d'aide. */
}

a.lienRSOfferFAV:hover span {
display: inline; /* On affiche l'infobulle. */
position: absolute;

white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */

top: 30px; /* On positionne notre infobulle. */
left: 20px;

background: white;

color: green;
padding: 3px;

border: 1px solid #ffcc00;
border-left: 4px solid #ffcc00;
}

.liens-realtor
{
background-color:#B0C4DE;
border:solid 1px #E6E6FA;
border-radius: 5px;
padding: 10px;
width: 370px;
}

#see_evaluation
{
  background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  width: 300px;
  margin-left: 900px;
  margin-bottom: 10px;
}

#generate_pdf
{
  background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  width: 300px;
  margin-left: 900px;
  margin-top: 0px;
}

#eval_chart
{
margin-left: 21px;    
}

#detailed_offer
{
margin-top: -174px;   
}

#main-image
{
border-radius: 10px;    
border: solid 3px #E6E6FA;
}

#image_div
{
width: 1664px; 
}

#caracts_div
{
border-radius: 10px;    
border: solid 3px #E6E6FA;
margin-right: 241px;
}

#gras_attrib
{
font-weight: bold;
}

/* Fichier TypeOfOfferRentSale.html.twig */

#fond
{
width: 125%;
  /* height: 100%; */
margin-bottom: -68px;
margin-top: -67px;
margin-left: -135px;
margin-right: -652px;
  /* padding-right: 31px; */
}

#choose_offerRent
{
  background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  margin-right: 164px;
  margin-left: -264px;
  padding: 28px;
}

#choose_offerSale
{
  background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  padding: 28px;
}

#espace-client
{
  color: #8DA5C5;
  /* width: 100px; */
  height: 95px;
  margin-top: -69px;
  /* margin-bottom: -24px; */
    margin-left: 449px;
}


/* Fichier listRentOffers.html.twig */

.boxedarea {
    border      	: 10px solid #222;
    border-radius	: 10px;
    padding 		: 10px;
    
    margin              : 20px;
}

#search-preferences {

    width               : 80%;
    border      	: 10px solid #222;    
    border-radius	: 10px;
    padding 		: 10px;

    margin-top          : 0px;    
    margin-bottom       : 50px;
    margin-left         : auto;
    margin-right        : auto;
}

.sale-offer-area .rent-offer-area {
    width : 100%;
    float : left;
    min-height: 250px;
}

.isgreen-notification {
    position : relative;
    top: 0;
    right: -20px;
    float : right;
}

.votes-notification {
    position : relative;
    top: 0;
    right: 0px;
    float : right;
}

#submit-button-div {
    margin : auto;
}

.main-image-area {
    margin-top: 20px;
    margin-bottom: 30px;
}

blockquote {
  background: #a9abae;
  opacity: 0.6;
  border-left: 10px solid #222;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #222;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}      

#see-details
{
  font-size: 10px;
  margin-top: -27px;
  color: rgb(9, 149, 200);
}

#titre-all-ro
{
    margin-left: 26px;
}

#total-offers
{
    margin-left: 904px;
}

#manage-fav
{
  background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  width: 412px;
  margin-left: 26px;
}

/*addComment.html.twig*/

#add-comm
{
    color: #70A4E8;
}

#required-fields
{
   color: white; 
}

#req-comm
{
   color: #70A4E8;
   font-weight: bold;
   font-size: 14px;
}

#date-comm
{
margin-left: -323px;   
}


#inputs-title
{
margin-left: -323px;
padding-left:3px;
background-color:white;
border-radius:3px;
height:30px;
width:318px;
border: 1px solid #70A4E8;
color:#70A4E8;  
margin-top: 10px;
}


#inputs-content
{
margin-left: -323px;
padding-left:3px;
background-color:white;
border-radius:3px;
height: 63px;
width: 316px;
border: 1px solid #70A4E8;
color:#70A4E8;
margin-top: 10px;
}

#bouton-comm
{
font-size: 15px;
color: #70A4E8;
background-color: #FFFFFF;  
border-color: #70A4E8;  
border-width: 1px;  
border-radius: 5px;
height:40px;
margin-top: 10px;
margin-left: 277px;
}

#bouton-comm:hover
{
background-color: #E6E6FA;  
}

#contour-add-comm
{
  background-color: #C5C5C5;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 503px;
}

/*ListssCommentRent.html.twig*/
#contour-see-comm
{
  background-color: #B0C4DE; //ou #C5C5C5;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  padding-bottom: 22px;
  margin-top: 43px;
  width: 521px;
}

#client-image
{
  border-radius: 50%;
  margin-left: 212px;
  margin-top: -31px;
}

#client-np
{
  color:#F9F9F9;
  margin-left: 203px;
  font-size: 12px;
}

#titleETcomm
{
    padding-left:  10px;
}

/*ListMYCommentRent.html.twig*/

.lienRSOfferModifDeleteListComm
{
text-decoration:none; 
color:white;
font-size: 12px;
margin-left: 10px;
}


/*ModifyMyCommentRent.html.twig*/

#date-comm-modif
{
margin-left: -321px;   
}


#inputs-title-modif
{
margin-left: -321px;
padding-left:3px;
background-color:white;
border-radius:3px;
height:30px;
width:318px;
border: 1px solid #70A4E8;
color:#70A4E8;  
margin-top: 10px;
}


#inputs-content-modif
{
margin-left: -321px;
padding-left:3px;
background-color:white;
border-radius:3px;
height: 63px;
width: 316px;
border: 1px solid #70A4E8;
color:#70A4E8;
margin-top: 10px;
}

#bouton-comm-modif
{
font-size: 15px;
color: #70A4E8;
background-color: #FFFFFF;  
border-color: #70A4E8;  
border-width: 1px;  
border-radius: 5px;
height:40px;
margin-top: 10px;
margin-left: 342px;
}

#bouton-comm-modif:hover
{
background-color: #E6E6FA;  
}

/*SearchMYTitleComm.html.twig*/

#input-recherche
{
  padding-left: 3px;
  background-color: white;
  border-radius: 3px;
  height: 30px;
  width: 318px;
  border: 1px solid #70A4E8;
  color: #70A4E8;
}

#bouton-rech
{
  width: 29px;
  height: 23px;
}

/*ListMYFavoriteRent.html.twig*/

#decalage-gauche
{
    margin-left: 10px;
}

#search-fav
{

  background-color: #B0C4DE;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 82px;
  padding-bottom: 4px;
  width: 255px;
  height: 40px;
}

#cadreListeRentOffersFAV
{   
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #B0C4DE;
  width: 521px;
  border-radius: 8px;
  margin-left: 10px;
  padding-left: 10px;
  height: 104px;
}

#image-fav
{
  border-radius: 10px;
  /* border: solid 3px #E6E6FA; */
  width: 174px;
  height: 98px;
  margin-left: 244px;
  margin-top: -136px;


}

#emplacement-votes
{
/*  margin-top: -91px;
  margin-left: 383px;*/

  margin-top: -91px;
  margin-left: 493px;

}

#nbVotesMoinsFav
{
      margin-left: 28px;
}

#fav-rech-proposition
{
  margin-left: -260px;
  margin-top: -9px;
}

/*ModifyMyFavoriteRent.html.twig*/

#title-fav-modif
{
margin-left: -319px;
background-color:white;
border-radius:3px;
height:30px;
width:318px;
border: 1px solid #70A4E8;
color:#70A4E8;  

}

#bouton-modif-fav {
  font-size: 15px;
  color: #70A4E8;
  background-color: #FFFFFF;
  border-color: #70A4E8;
  border-width: 1px;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-left: 260px;
}


#bouton-modif-fav:hover
{
background-color: #E6E6FA;  
}


#contour-modif-fav {
  background-color: #C5C5C5;
  border: solid 1px #E6E6FA;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 418px;
}

/* SearchMYTitleFav.html.twig */

#ampoule
{
/*  margin-left: 494px;
   margin-bottom: -118px; 
  margin-top: -72px;*/

  margin-left: -42px;
  /* margin-bottom: -118px; */
  margin-top: -48px;
}

a#lienRSOfferFAV-search {
position: relative;
color: black;
text-decoration: none;
}

a#lienRSOfferFAV-search span {
display: none; /* On masque l'infobulle. */
}

a#lienRSOfferFAV-search:hover {
background: none; /* Correction d'un bug d'Internet Explorer. */
z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

cursor: none; /* On change le curseur par défaut par un curseur d'aide. */
}

a#lienRSOfferFAV-search:hover span {
display: inline; /* On affiche l'infobulle. */
position: absolute;
white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
top: 30px; /* On positionne notre infobulle. */
left: 20px;
background: white;
color: #5eb5e0;
padding: 3px;
border: 1px solid #E6E6FA;
border-left: 4px solid #B0C4DE;
}

#cadreListeFAVRentOffers {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #B0C4DE;
  width: 521px;
  border-radius: 8px;
  padding-top: 52px;
}



#bouttons{
     margin-left: 245px;
  background: rgb(186, 186, 203);
  border: 2px solid #222;
  border-radius: 10px;
  padding: 10px;
  width: 488px;
    
}


#bouttonsModif{
    

    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    
      margin-left: 101px;
  margin-top: 17px;
  margin-bottom: 11px;


}

#bouttonsModif:hover {
    background: #CF7A7A
}



.alert-success{
    
  color: rgb(132, 83, 106);
  margin-left: 295px;
  margin-bottom: 31px;
  margin-top: -20px;
  font-size: 28px;
}