{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
     H3Y2 - RSA - Detailed rent offer
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajer1.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}

      
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_hajer_realtor_hom')}}">Homepage | </a></li>
        <li><a href="{{path('hajer_listRentOffersByRealtor')}}">My rent offers | </a></li>
        <li><a href="{{path('hajer_listSaleOffersByRealtor')}}">My sale offers | </a></li>
        <li><a href="{{path('hajer_searchMyRentOfferByTitle')}}">Search my offers </a></li>
        
    </ul>
{% endblock %}   

{% block REDEFINIR_MAIN %}
   
    
<h1>Detailed rent offer</h1>

{% for roDtl in modeles %}
    
 

Rent price : {{ roDtl.rentprice }}<br>
Deposit value : {{ roDtl.depositvalue }}<br>
Available from : {{ roDtl.availablefrom|date('Y-m-d') }}<br>
Status : {{ roDtl.status }}<br>
State : {{ roDtl.state }}<br>
Title : {{ roDtl.title }}<br>
Body : {{ roDtl.body }}<br>
Governorate : {{ roDtl.governorate }}<br>
Delegation : {{ roDtl.delegation }}<br>
GPS coordinates : {{ roDtl.coordgps }}<br>
Number of positive votes : {{ roDtl.nbvotesplus }}<br>
Number of negative votes : {{ roDtl.nbvotesmoins }}<br>
Dealtype : {{ roDtl.dealtype }}<br>

{% if roDtl.isgreen == false %}{% set gHouse = 'No' %}{% else %}{% set gHouse = 'Yes' %}{% endif %}
Green House : {{ gHouse }}<br>



   <div id="div-mon-image-1" align="left"> <!-- RAPPEL : ceci n'est qu'un exemple, dans votre travail vous devez mettre tous les styles dans un fichier css-->
        
    Image :    <img src="https://i.imgur.com/{{ roDtl.houseimageurl }}" width="300">
    </div>

Realtor first name : {{ roDtl.idofrealtor.firstname }}<br>
Realtor last name : {{ roDtl.idofrealtor.lastname }}<br>
<br><br>


<br/>

{% endfor %}
    
{% endblock %}