

{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    {# ici, vous mettez le titre de la page #}
        H3Y2 - RSA - Realtor area
{% endblock %}


{% block AJOUTER_CSS %}
     <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajer1.css') }}">   
     <link rel="stylesheet" href="{{ asset('etudiants/hajer/link/css/component.css') }}">   
    
      <link rel="stylesheet" href="{{ asset('etudiants/hajer/link/css/demo.css') }}">   
    
       <link rel="stylesheet" href="{{ asset('etudiants/hajer/link/css/normalize.css') }}">   
    
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    
    <script src="{{ asset('etudiants/houssem/js/bootstrap.js') }}" type="text/javascript"></script>
   <script src="{{ asset('etudiants/hajer/link/js/modernizr.custom.js') }}" type="text/javascript"></script>
  
      
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_hajer_realtor_hom')}}">Homepage | </a></li>
        <li><a href="{{path('hajer_listRentOffersByRealtor')}}">My rent offers | </a></li>
        <li><a href="{{path('hajer_listSaleOffersByRealtor')}}">My sale offers | </a></li>
        <li><a href="{{path('hajer_searchMyRentOfferByTitle')}}">Search my offers </a></li>
        
    </ul>
{% endblock %}   

{% block REDEFINIR_MAIN %}

    
{% for ro in realtor %}

    
     <h1>Welcome {{ ro.firstname }}, to your realtor page! </h1>

 {#  <a class="lienRSOffer" href="{{path('rsa_yasmine_detailedRentOffer',{'id':ro.id,'rentPrice':ro.rentprice,'depositValue':ro.depositvalue,'availableFrom':ro.availablefrom,'idR':ro.idofrealtor.id,'firstNameR':ro.idofrealtor.firstname,'lastNameR':ro.idofrealtor.lastname})}}" target="_blank">
  #}  
 
  
    


  
	<div class="container">
			<!-- Top Navigation -->

			
			<section class="color-10">
                        <h1>Realtor's area: <span>Please choose between these actions</span></h1>
				
                                <p>Please note that you can see your profile in this <a style="color:orange;" href="{{path('hajer_realtorprofile',{'idC':ro.id, 'idR':ro.id})}}" >
                                        <span>link</span></a>. </p>
                                <h2 style="color:orange;"><span>Manage my rent offers </span></h2>
				<nav id="yo" class="cl-effect-10">
					<a href="{{path('hajer_addRentOffer')}}" data-hover="Add a rent offer"><span>Add a rent offer</span></a>
					<a href="{{path('hajer_listRentOffersByRealtor')}}" data-hover="see my rent offers"><span>see my rent offers</span></a>
					<a href="{{path('hajer_searchMyRentOfferByTitle')}}" data-hover="Search a rent offer"><span>Search a rent offer</span></a>
					<a href="{{path('hajer_listRentOffers')}}" data-hover="See all rent offers"><span>See all rent offers</span></a>
					<a href="{{path('hajer_realtorprofile',{'idC':ro.id, 'idR':ro.id})}}" data-hover="See my profile"><span>See my profile</span></a>
				</nav>
                                
                                <br/> <br/> <br/>
                                
                        <h2 style="color:orange;"><span>Manage my sale offers </span></h2>
				<nav id="yo" class="cl-effect-10">
					<a href="{{path('hajer_addSaleOffer')}}" data-hover="Add a sale offer"><span>Add a sale offer.</span></a>
					<a href="{{path('hajer_listSaleOffersByRealtor')}}" data-hover="see my sale offers"><span>see my sale offers</span></a>
					<a href="{{path('hajer_searchMySaleOfferByTitle')}}" data-hover="Search a sale offer"><span>Search a sale offer</span></a>
					<a href="{{path('hajer_listSaleOffers')}}" data-hover="See all sale offers"><span>See all sale offers</span></a>
				</nav>
                       </section>
			
		</div><!-- /container -->
	
                <span> </span>
{% endfor%}
{% endblock %}