
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    {# ici, vous mettez le titre de la page #}
     H3Y2 - RSA - Rent offers
{% endblock %}


{% block AJOUTER_CSS %}
    <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajer1.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
  
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="/Pidev/web/app_dev.php/realtor/acc/">Homepage | </a></li>
        <li><a href="/Pidev/web/app_dev.php/realtor/listRentOffersByRealtor">My rent offers | </a></li>
        <li><a href="/Pidev/web/app_dev.php/realtor/listSaleOffersByRealtor">My sale offers | </a></li>
        <li><a href="/Pidev/web/app_dev.php/realtor/searchMyRentOfferByTitle">Search my offers </a></li>
        
    </ul>
{% endblock %}      

{% block REDEFINIR_MAIN %}

<form method="POST" {{ form_enctype(form) }} >
{{form(form)}}	
</form>

{% endblock %}