
{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    {# ici, vous mettez le titre de la page #}
    H3Y2 - RSA - Search My Offers
{% endblock %}



{% block AJOUTER_CSS %}
      <link rel="stylesheet" href="{{ asset('etudiants/hajer/css/hajer1.css') }}">   
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
   
      <script src="{{ asset('etudiants/hajer/js/bootstrap.js') }}" type="text/javascript"></script>

{% endblock %}



{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="{{path('rsa_hajer_realtor_hom')}}">Homepage | </a></li>
        <li><a href="{{path('hajer_listRentOffersByRealtor')}}">My rent offers | </a></li>
        <li><a href="{{path('hajer_listSaleOffersByRealtor')}}">My sale offers | </a></li>
        <li><a href="{{path('hajer_searchMyRentOfferByTitle')}}">Search my offers </a></li>
        
    </ul>
{% endblock %}    


{% block REDEFINIR_MAIN %}
    

<h2 id="add-comm">Search for my offers</h2>

     <form method="POST" action=""> 
     <input id="input-recherche" type="text" name="search" placeholder="Title of the offer" required/> 
<label  > By </label>
            <select name="choix" id="state" >
            <option value="Title" >Title</option>
            <option value="Gov">Governorate</option>
          <option value="Del">Delegation</option>
            </select>
     <button type="submit" name="rechercher" value="Search"> 
         
     <img id="bouton-rech" src="{{ asset ('etudiants/yasmine/images/loupe.png') }}">
     </button>
 </form>

<br/>




 {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success">
            <bold>  {{ flashMessage }} </bold>
        </div>

    {% endfor %}

{% for favRO in modeles %}
                        <table>
        <tr>
            <td>
     <fieldset id="cadreListeRentOffers">
 
  
     


 
<a class="lienRSOffer" href="{{path('rsa_yasmine_detailedRentOffer',{'id':favRO.id})}}">
       
<span class="title" > <b>Title : </b> {{favRO.title }}</span>
</a>  


<div id="ampoule" >
     <a  href="#" id="lienRSOfferFAV-search">
<img id="redirect-details" src="{{ asset ('etudiants/yasmine/images/ampoule.png') }}" height="50" alt="ampoule"/>
 <span id="info_details_fav_bulle">Click on the title of one of your offers to see the details of that offer</span> 
     </a>
 </div><br>
                           


                  
<span class="price" >  <b>Rent Price : </b> {{favRO.rentPrice }}  DT </span>
                            
                            <br>
                            <span class="governorate" >   <b>Governorate</b> : {{favRO.governorate }}</span>
                            <br>
                            <span class="delegation" > <b>Delegation : </b> {{favRO.delegation }}</span><br>
                            <span class="state" > <b>State : </b> {{favRO.state }}</span><br>         
                           
                            <img id="image-fav" src="{{favRO.houseImageUrl}}" align="middle" alt="Offer main image" align="center" width="50%"/>
                           
                           <div id="emplacement-votes" >
                           <span> {{favRO.nbVotesPlus }}
                                <img src="{{ asset ('etudiants/yasmine/images/like.png') }}" height="30px"/>
                            </span>
                            <span id="nbVotesMoinsFav" > {{favRO.nbVotesMoins }}
                                <img src="{{ asset ('etudiants/yasmine/images/dislike.png') }}" height="30px"/>
                            </span>
                           </div>
                                <br/>
                                
                                
                                <br>
 
                                
 <a id="bouttonsModif" class="lienRSOfferModifDeleteListComm"  href="{{path('hajer_modifyRentOffer',{'id':favRO.id})}}"> Modify </a> 
        
        <a id="bouttonsModif" class="lienRSOfferModifDeleteListComm" href="{{path('hajer_deleteRentOfferS',{'id':favRO.id})}}"> Delete </a>
        
<a id="bouttonsModif" class="lienRSOfferModifDeleteListComm" href="{{path('hajer_closeRentOfferS',{'id':favRO.id})}}"> Close </a>
<br/>
<br/>
    </fieldset>
            </td>
            
           
        </tr>
  </table>
<br/>
{% endfor%} 
                   
{% endblock %}

