{#
    Yassine : voici un exemple de view pour que vous puissiez commencer à travailler rapidement.

    Si vous avez besoin de nouvelles fonctionnalités dans le template :
    ----> Si c'est pour vous seulement, développez les dans l'un des blocks
    ----> Si c'est pour tout le monde, faire une publication sur le groupe du PIDEV
    
    J'ai mis tout avec des exemples, normalement c'est clair.
    Happy coding !
#}

{% extends "::base.html.twig" %}

{% block REDEFINIR_TITLE %}
    {# ici, vous mettez le titre de la page #}
    - Title Personnalisé
{% endblock %}


{% block AJOUTER_CSS %}
    {# ici, vous pouvez ajouter des fichiers css #}
    {#
    <link rel="stylesheet" href="{{ asset('etudiants/NOM_DE_ETUDIANT/css/NOM_DE_ETUDIANT.css') }}">
     exemple dans le fichier de houssem
    <link rel="stylesheet" href="{{ asset('etudiants/houssem/css/houssem.css') }}">
    #}
    
{% endblock %}


{% block AJOUTER_JAVASCRIPT %}
    {# ici, vous pouvez ajouter des fichiers javascript / (jQuery déjà inclus) #}
    {#
        <script src="{{ asset('etudiants/NOM_DE_ETUDIANT/js/NOM_DE_ETUDIANT.js') }}"></script>
    Ce si est un exemple :) 
    <script src="{{ asset('etudiants/houssem/js/houssem.js') }}"></script>
     #}
      
{% endblock %}


{% block REDEFINIR_MENU_VARIABLE %}
    <ul>
        <li><a href="#">Item Personnalise 1</a></li>
        <li><a href="#">Item Personnalise 2</a></li>
        <li><a href="#">Item Personnalise 3</a></li>
    </ul>
{% endblock %}    


{% block REDEFINIR_MAIN %}


    
     <h1>Realtor's page</h1>
{% for ro in rentOffers %}
 {#  <a class="lienRSOffer" href="{{path('rsa_yasmine_detailedRentOffer',{'id':ro.id,'rentPrice':ro.rentprice,'depositValue':ro.depositvalue,'availableFrom':ro.availablefrom,'idR':ro.idofrealtor.id,'firstNameR':ro.idofrealtor.firstname,'lastNameR':ro.idofrealtor.lastname})}}" target="_blank">
  #}  
 
     Hello {{ ro.firstname }}! <br>
     <br>
     <br>
     <a href="{{path('hajer_addRentOffer',{'id':ro.id})}}" target="_blank">Add a rent offer</a>
     <a href="{{path('hajer_listRentOffersByRealtor',{'id':ro.id})}}" target="_blank">See my rent offers</a>
     <a href="{{path('hajer_searchMyRentOfferByTitle')}}" target="_blank">Search a rent offer</a> 
     <a href="{{path('hajer_listRentOffers')}}" target="_blank">See all rent offers</a>
    
{% endfor%}


    {# Exemple Titre + Texte dans un div #}
    <div id="div-mon-titre-1" align="justify">
        <h2>Titre H2 Personnalisé</h2>
        <p>Contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé contenu personnalisé .</p>
    </div>

    {# Saut de 3 ligne #}
    <hr> <br/> <br/> <br/>

    
    {# Exemple de passage de paramètres de l'url #}
    <div id="div-mon-titre-1" align="center">
        <h2>Exemple lecture de paramètres</h2>
        <p>Le paramètre passé en url retourne : {{ name }}</p>
    </div>

    
    {# Saut de 3 ligne #}
    <hr> <br/> <br/> <br/>

    {# Exemple de tableau #}
    <div id="div-mon-tableau-1" align="center"> <!-- RAPPEL : ceci n'est qu'un exemple, dans votre travail vous devez mettre tous les styles dans un fichier css-->
        <h2>Exemple de Tableau </h2>
        <table id="mon-tableau-1" style="width:80%;" border="1"> <!-- RAPPEL : ceci n'est qu'un exemple, dans votre travail vous devez mettre tous les styles dans un fichier css-->
            <tr>
                <th>Colonne 1</th>
                <th>Colonne 2</th>
                <th>Colonne 3</th>
            <tr>
                <td>Ligne 1, Attribut 1</td>
                <td>Ligne 1, Attribut 1</td> 
                <td>Ligne 1, Attribut 1</td>
            </tr>
            <tr>
                <td>Ligne 2, Attribut 1</td>
                <td>Ligne 2, Attribut 1</td> 
                <td>Ligne 2, Attribut 1</td>
            </tr>
            <tr>
                <td>Ligne 3, Attribut 1</td>
                <td>Ligne 3, Attribut 1</td> 
                <td>Ligne 3, Attribut 1</td>
            </tr>
        </table>
    </div>

    {# Saut de 3 ligne #}
    <hr> <br/> <br/> <br/>

    {# Exemple de tableau #}
    <div id="div-mon-image-1" align="center"> <!-- RAPPEL : ceci n'est qu'un exemple, dans votre travail vous devez mettre tous les styles dans un fichier css-->
        <h2>Exemple d'insertion d'image de Imgur</h2>
        <img src="https://i.imgur.com/OkSyqdm.jpg" width="300">
    </div>

    {# Saut de 3 ligne #}
    <hr> <br/> <br/> <br/>


    {# Exemple d'un iframe #}
    <div id="div-mon-iframe-1" align="center"> <!-- RAPPEL : ceci n'est qu'un exemple, dans votre travail vous devez mettre tous les styles dans un fichier css-->
        <h2>Exemple d'insertion d'une iframe</h2>
        <iframe src="http://www.w3schools.com" width="90%" height="500"></iframe>
    </div>


    {# Saut de 3 ligne #}
    <hr> <br/> <br/> <br/>        

    {# Exemple de formulaire html 5 #}
    <div id="div-mon-formulaire-1">
        <h2 align="center">Exemple de Formulaire HTML 5 </h2> <!-- RAPPEL : ceci n'est qu'un exemple, dans votre travail vous devez mettre tous les styles dans un fichier css-->
        <form id="mon-formulaire-1" align="center" border="1" method="post">
            <br/>
            <br/>
            <div> 
                <label>Nom
                    <input id="given-name" name="given-name" type="text" placeholder="First name only" required > 
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <===  RAPPEL : ne pas faire cela dans votre travail ! Use css instead ! -->
                <label>Prenom
                    <input id="family-name" name="family-name" type="text" placeholder="Last name only" required > 
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <===  RAPPEL : ne pas faire cela dans votre travail ! Use css instead ! -->
                <label>Anniversaire
                    <input id="dob" name="dob" type="date" required>
                </label>
            </div> 
            <br/>
            <div> 
                <label>Email 
                    <input id="email" name="email" type="email" placeholder="example@domain.com" required>
                </label> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <===  RAPPEL : ne pas faire cela dans votre travail ! Use css instead ! -->
                <label>Site web 
                    <input id="url" name="url" type="url" placeholder="http://mysite.com">
                </label> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <===  RAPPEL : ne pas faire cela dans votre travail ! Use css instead ! -->
                <label>Telephone 
                    <input id="phone" name="phone" type="tel" placeholder="Eg. +447000 000000" required>
                </label> 
            </div>
            <br/>
            <div>
                <label>Pointure
                    <input id="shoes" name="shoes" type="number" min="5" max="18" step="0.5" value="9">
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <===  RAPPEL : ne pas faire cela dans votre travail ! Use css instead ! -->
                <label>Niveau en Symfony (1 bas - 100 parfait)
                    <input id="skill" name="skill" type="range" min="1" max="100" value="0">
                </label>
            </div>
            <br/>
            <div> 
                <label>Addresse
                    <textarea id="address" name="address" rows=1 required></textarea>
                </label> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <===  RAPPEL : ne pas faire cela dans votre travail ! Use css instead ! -->
                <label>Code Postal
                    <input id="postCode" name="postCode" type="text" required>
                </label> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <===  RAPPEL : ne pas faire cela dans votre travail ! Use css instead ! -->
                <label>Pays
                    <input id="country" name="country" list="country-names" type="text" required> 
                    <datalist id="country-names"> 
                        <option label="France" value="France"></option> 
                        <option label="Tunisie" value="Tunisie"></option> 
                        <option label="Maroc" value="Maroc"></option> 
                        <option label="Algerie" value="Algerie"></option> 
                    </datalist>
                </label> 
            </div>
            <br/>
            <div class="card-type"> 
                <input id="linux" name="ostype" type="radio"> 
                <label for="linux">GNU/Linux</label> 
                <input id="windows" name="ostype" type="radio">
                <label for="windows">Windows</label> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <===  RAPPEL : ne pas faire cela dans votre travail ! Use css instead ! -->
                <label>Mois Préféré:  
                    <input id="month" name="expiry" type="month">
                </label>
            </div>

            <br/>
            <div> 
                <button type=submit>Envoyer Formulaire</button> <!-- Voir le cours de Symfony pour la gestion des formulaires -->
            </div> 
        </form>
    </div>

{% endblock %}